<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                    <app-about-menu></app-about-menu>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif ">
                <section class="section container-fluid has-text-centered is-family-sans-serif">
                    <p class="has-text-weight-bold is-size-2">野生動物皮革進出口證</p>
                </section>
                
                <section class="section is-block is-paddingless">
                    <p class="content is-size-3">Harris</p>
                    <div style="background: url(../../../assets/img/about/certify/0910-13.jpg); 
                                background-position: top; 
                                background-size: cover;
                                height:30vh;
                                ">
                    </div>
                    <div class="columns container-fluid is-multiline has-text-centered">
                        <div class="column is-1"></div>
                        <div class="column is-4">
                            <div class="container"style="background: url(../../../assets/img/about/certify/0910-15.jpg); 
                            background-position: top; 
                            background-size: cover;
                            height:60vh;
                            "></div>
                            <p class="is-size-3-tablet is-size-4-mobile">瀕危野生動物出口義大利證</p>
                        </div>
                        <div class="column is-2"></div>
                        <div class="column is-4">
                            <div class="container" style="background: url(../../../assets/img/about/certify/0910-14.jpg); 
                            background-position: top; 
                            background-size: cover;
                            height:60vh;
                            "></div>
                            <p class="is-size-3-tablet is-size-4-mobile">瀕危野生動物入口澳門證</p>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
    </section>
        