
@font-face
  font-family: 'Noto Sans TC', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

$family-sans-serif: 'Noto Sans TC', sans-serif

section
    height: 50vh    
    justify-content: center
    align-items: center

.section1
    background: url("../../../assets/img/page/_DSC4608.jpg")
    background-size: cover
    background-position: center
    display: flex
.section2
    background: url("../../../assets/img/page/_DSC4605.jpg")
    background-size: cover
    background-position: center
    display: flex
.section3
    background: url("../../../assets/img/page/_DSC4613.jpg")
    background-size: cover
    background-position: center
    display: flex

@import "~bulma/bulma.sass"