<div class="hero">
    <div class="container has-text-centered">
        <h1 class="content top-header is-size-2 is-family-sans-serif">
            SNAPSHOT 相機包
        </h1>
        <p class="content is-size-6 is-family-sans-serif">
            時尚指標，撞色、經典單色佔領你的每個穿搭。
        </p>
    </div>
</div>
<section class="section0" routerLink="/products/MH2105_GSB" style="cursor: pointer"></section>
<section class="section1" routerLink="/products/MH2105_GSB" style="cursor: pointer"></section>

<section>
    <div class="container-fluid has-text-centered container1">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            雙拉鍊空間隔層
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            分類清楚，車縫細緻可見。
        </p>
    </div>
    <div class="container is-widescreen">
        <img src="assets/img/page/SNAPSHOT-whitepink.jpg" alt="fotografica_side" class="image image1" routerLink="/products/MH2105_GSWPR" style="cursor: pointer">
    </div>
</section>
<section>
    <div class="container-fluid has-text-centered container2">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            十字防刮紋
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            細緻隱性的立體防刮設計<br>
            紮實易保養，皮身堅固不易變形。
        </p>
    </div>
    <div class="container is-widescreen">
            <img src="assets/img/page/DSC_2923.jpg" alt="fotografica_back" class="image image2" routerLink="/products/MH2015_GSYPB" style="cursor: pointer">
    </div>
    
</section>

