
@font-face
  font-family: 'Noto Sans TC', sans-serif
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional')

$family-sans-serif: 'Noto Sans TC', sans-serif

section
    height: 70vh    
    justify-content: center
    align-items: center

.section0
    background: url("../../../assets/img/page/_DSC4557.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    display: flex
.section1
    background: url("../../../assets/img/page/_DSC4604.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    display: flex
.section2
    background: url("../../../assets/img/page/DSC_3205-02.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: 80%
    display: flex
.section3
    background: url("../../../assets/img/page/DSC_2923.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: left
    display: flex

@import "~bulma/bulma.sass"