<div class="hero">
    <div class="container has-text-centered">
        <h1 class="content top-header is-size-2 is-family-sans-serif">
            SNAPSHOT 相機包
        </h1>
        <p class="content is-size-6 is-family-sans-serif">
            時尚指標，撞色、經典單色佔領你的每個穿搭。
        </p>
    </div>
</div>
<section class="section0" routerLink="/details/detail/MH2105_GSB" style="cursor: pointer"></section>
<section class="section1" routerLink="/details/detail/MH2105_GSB" style="cursor: pointer"></section>

<section>
    <div class="container-fluid has-text-centered container1">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            雙拉鍊空間隔層
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            分類清楚，車縫細緻可見。
        </p>
    </div>
    <div class="container is-widescreen">
        <img src="assets/img/page/SNAPSHOT-whitepink.jpg" alt="fotografica_side" class="image image1" routerLink="/details/detail/MH2105_GSWPR" style="cursor: pointer">
    </div>
</section>
<section>
    <div class="container-fluid has-text-centered container2">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            十字防刮紋
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            細緻隱性的立體防刮設計<br>
            紮實易保養，皮身堅固不易變形。
        </p>
    </div>
    <div class="container is-widescreen">
        <img src="assets/img/page/DSC_2923.jpg" alt="fotografica_back" class="image image2" routerLink="/details/detail/MH2015_GSYPB" style="cursor: pointer">
    </div>
</section>
<div>
    <div class="container has-text-centered">
        <ul class="container-fluid columns is-multiline is-vcentered is-mobile">
            <li *ngFor="let product of products" class="column is-3-desktop is-6-touch">
                <img src="{{ product.fields.thumbnail.fields.file.url }}" [routerLink]="['/details/detail', product.fields.slug]" alt="product image" class="image">
                <p class="content is-size-5 is-size-6-touch is-family-sans-serif">{{ product.fields.productName }}</p>
                <p class="content is-size-6 is-size-7-touch is-family-sans-serif">Price: {{ product.fields.price }} $</p>
            </li>
        </ul>
    </div>
</div>

