<div class="hero">
    <div class="container has-text-centered">
        <p class="content is-size-2 is-family-sans-serif">
            SNAPSHOT 相機包
        </p>
        <p class="content is-size-6 is-family-sans-serif">
            時尚指標，撞色、經典單色佔領你的每個穿搭。
        </p>
    </div>
</div>
<section class="section0"></section>
<section class="section1"></section>

<section>
        <div class="container-fluid has-text-centered container1">
            <p class="content is-size-3 is-family-sans-serif has-text-weight-medium has-background-white">
                雙拉鍊空間隔層
            </p>
            <p class="content is-size-6 is-family-sans-serif has-background-white">
                分類清楚，車縫細緻可見。
            </p>
        </div>
        <div class="container is-widescreen">
            <img src="assets/img/page/DSC_3205-02.jpg" alt="leopard_head_back" class="image image1">
        </div>
    </section>
    <section>
        <div class="container-fluid has-text-centered container2">
            <p class="content is-size-3 is-family-sans-serif has-text-weight-medium has-background-white">
                十字防刮紋
            </p>
            <p class="content is-size-6 is-family-sans-serif has-background-white">
                細緻隱性的立體防刮設計<br>
                紮實易保養，皮身堅固不易變形。
            </p>
        </div>
        <div class="container is-widescreen">
                <img src="assets/img/page/DSC_2923.jpg" alt="leopard_head_side" class="image image2">
        </div>
    </section>