<footer class="" style="clear: both">
        <div style="margin-top: 5rem;">
                <p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
                <p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
                <p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p>
            </div>
    <div class="has-background-black has-text-grey-light is-family-sans-serif">
        <div class="container-fluid" style="padding-top: 2rem;">
            <img
                class="image container is-128x128"
                src="assets/img/logo_p_i.svg"
                alt="harris"
                routerLink="/"
            />
        </div>
        <div class="columns is-centered is-hidden-touch" style="padding-top: 5rem;">
            <div class="column is-3">
                <div class="container">
                    <ul>
                        <li class=" has-text-centered">
                            <a class="" routerLink="about/aboutus">關於我們</a>
                        </li>
                        <hr class="">
                    </ul>
                </div>
            </div>
            <div class="column is-3">
                <div class="container">
                    <ul>
                        <li class=" has-text-centered">
                            <a class="" routerLink="leather/technique">精湛工藝</a>
                        </li>
                        <hr class="">
                    </ul>
                </div>
            </div>
            <div class="column is-3">
                <div class="container">
                    <ul>
                        <li class=" has-text-centered">
                            <a class="" routerLink="allProducts/products">商品</a>
                        </li>
                        <hr class="">
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="series/fotografica">
                                SnapShot 相機包
                            </a>
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="series/classic-flap">
                                Leopard 口蓋包
                            </a>                
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="allProducts/handbags">
                                HandBag 手拿包
                            </a>                
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="allProducts/minibox">
                                MiniBox 方包
                            </a>                
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="allProducts/crossbody">
                                CrossBody 側背包
                            </a>
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="allProducts/tote">
                                Tote 托特包
                            </a>
                        </li>
                        <li>
                            <a class="navbar-item  has-text-grey-light" routerLink="allProducts/wallet">
                                Wallet 銀包
                            </a>
                        </li> 
                        <li>
                            <a class="navbar-item ">Sale 特價品</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-3">
                <ul class="has-text-centered">
                    <li class="is-inline-block">
                        <a href="https://www.facebook.com/harris.in.asia"><img src="../../assets/img/social/facebook.svg" alt="facebook" class="image is-32x32 social"></a>
                    </li>
                    <li class="is-inline-block">
                        <a href="https://www.instagram.com/harris_asia_official/"><img src="../../assets/img/social/instagram.svg" alt="instagram" class="image is-32x32 social"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid has-text-centered" style="padding-top: 5rem;">
            <p class="has-text-weight-light is-size-7">
                2019 Harris-Asia Group all right reserved.
            </p>
            <p class="has-text-weight-light is-size-7">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </p>
        </div>
    </div>
</footer>
