@font-face
  font-family: 'Noto Sans TC', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

$family-sans-serif: 'Noto Sans TC', sans-serif
$link: white
$navbar-item-hover-color: black



.social
  background-color: white
  margin: .5rem
  padding: .1rem
  border-radius: 3rem


@import "~bulma/bulma.sass"
