@import "~bulma-carousel/src/sass/index.sass"

.columns
  height: 40vh
  padding: 2rem 3rem

.column
  padding: 1.5rem

.social
  background-color: white
  margin: .5rem
  padding: .1rem
  border-radius: 3rem

@import "~bulma/bulma.sass"