<footer className="footer has-background-black">
    <div class="container-fluid has-background-black">
        <img
            class="image container is-128x128"
            src="assets/img/logo_p_i.svg"
            alt="harris"
            routerLink="/"
        />
    </div>
    <div className="container has-background-black">
        <div class="columns has-background-black">
            <div class="column is-4 ">
                <ul>
                    <li>
                        <p class="has-text-white-ter is-size-5" routerLink="/about">About</p>
                    </li>
                    <li>
                        <p class="has-text-white-ter is-size-5" routerLink="/products">Products</p>
                    </li>
                    <li>
                        <p class="has-text-white-ter is-size-5" routerLink="/stories">Stories</p>
                    </li>
                </ul>
            </div>
            <div class="column is-4"></div>
            <div class="column is-4">
                <ul class="is-pulled-right">
                    <li class="is-inline-block">
                        <a href="https://www.facebook.com/harris.in.asia"><img src="../../assets/img/social/facebook.svg" alt="facebook" class="image is-32x32 social"></a>
                    </li>
                    <li class="is-inline-block">
                        <a href="https://www.instagram.com/harris_asia_official/"><img src="../../assets/img/social/instagram.svg" alt="instagram" class="image is-32x32 social"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" container-fluid has-text-centered has-text-black">
            <p className="is-small">
                2019 Harris-Asia Group all right reserved.
            </p>
        </div>        
    </div>
  </footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
