<footer className="footer has-background-black">
    <div class="container-fluid has-background-black">
        <img
            class="image container is-128x128"
            src="assets/img/logo_p_i.svg"
            alt="harris"
            routerLink="/"
        />
    </div>
    <div className="container has-background-black is-paddingless">
        <div class="columns has-background-black">
            <div class="column is-4 ">
                <ul>
                    <li>
                        <a class="has-text-white" routerLink="about/aboutus">關於我們</a>
                    </li>
                    <li>
                        <a class="has-text-white"  routerLink="about/ourstories">品牌故事</a>
                    </li>
                    <li>
                        <a class="has-text-white"  routerLink="about/ouridea">經營理念</a>
                    </li>
                    <li>
                        <a class="has-text-white"  routerLink="about/eufashion">歐洲潮流</a>
                    </li>
                    <li>
                        <a class="has-text-white"  routerLink="about/fairprice">合理價格</a>
                    </li>
                </ul>
            </div>
            <div class="column is-4">
                <ul>
                    <li>
                        <a class="has-text-white" routerLink="allProducts/products">商品</a>
                    </li>
                    <li>
                        <a class="has-text-white" routerLink="allProducts/fotografica">SNAPSHOT 相機包</a>
                    </li>
                    <li>
                        <a class="has-text-white" routerLink="allProducts/classic-flap">LEOPARD 口蓋包</a>
                    </li>
                    <li>
                        <a class="has-text-white" routerLink="allProducts/handbags">手拿包</a>
                    </li>
                    <li>
                        <a class="has-text-white" routerLink="allProducts/crossbody">側背包</a>
                    </li>
                    <li>
                        <a class="navbar-item has-text-white">銀包</a>
                    </li> 
                        
                        <a class=" has-text-white">特價品</a>
                </ul>
            </div>
            <div class="column is-4">
                <ul class="is-pulled-right">
                    <li class="is-inline-block">
                        <a href="https://www.facebook.com/harris.in.asia"><img src="../../assets/img/social/facebook.svg" alt="facebook" class="image is-32x32 social"></a>
                    </li>
                    <li class="is-inline-block">
                        <a href="https://www.instagram.com/harris_asia_official/"><img src="../../assets/img/social/instagram.svg" alt="instagram" class="image is-32x32 social"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" container-fluid has-text-centered has-text-black">
            <p className="is-small">
                2019 Harris-Asia Group all right reserved.
            </p>
        </div>        
    </div>
  </footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
