.img-wrapper
    max-height: 40vh

.image
    max-height: 40vh
span
    color: black

.swiper-container
    height: 40vh

.swiper-slide
    max-height: 40vh

@import "~bulma/bulma.sass"


+tablet
    .swiper-container
        display: none
