<div *ngIf="product">
	<!-- Slider main container -->
	<div class="swiper-container" *ngIf="product.fields.image" mySwiper>
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper" *ngFor="let image of product.fields.image">
			<!-- Slides -->
			<div 
			class="swiper-slide image" 
			[ngStyle]="{'background-image': 'url(' + image.fields.file.url + ')'}"
			style="background-size: contain; background-repeat: no-repeat;background-position: center"
			>
			</div>
		</div>
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev" style="color: black"></div>
		<div class="swiper-button-next" style="color: black" (click)="slideNext()"></div>
	</div>
</div>

<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="primary"
  maxWidth="auto"
  proportion="25"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>

	<div *ngIf="product">
		<div *ngIf="product.fields.image">
			<mat-carousel-slide
				#matCarouselSlide
				*ngFor="let image of product.fields.image; let i = index"
				[ngStyle]="{'background-image': 'url(' + image.fields.file.url + ')'}"
				style="background-size: contain; background-repeat: no-repeat;background-position: center"
				overlayColor="#00000040"
				[hideOverlay]="true"
			></mat-carousel-slide>
		</div>
	</div>
</mat-carousel>


