<section>		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<div class="carousel" *ngIf="product">
	<ngb-carousel #carousel interval="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" *ngIf="product.fields.image">
		<ng-template ngbSlide *ngFor="let image of product.fields.image; index as i">
			<div class="carousel-caption">
			</div>
				<div class="img-wrapper">
					<img src="{{ image.fields.file.url }}" alt="My image {{i + 1}} description" class="image container">
				</div>
		</ng-template>
	</ngb-carousel>
	</div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">




  