
<div style="margin: 2rem 0 1.5rem 0;">
    <p class="container line" style="width: 20vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p>
</div>
<section class="hero has-background-white-ter" style="min-height: 72vh; padding-top: 2rem;">
    <ng-container *ngIf="(auth.user$ | async) || {} as user">
        <div *ngIf="user.uid" class="container-fluid has-text-centered is-family-sans-serif" style="margin: 3rem">
            <p class="is-size-5 is-family-sans-serif" style="margin-bottom: 2rem">帳號開通成功</p>
            <button class="button is-success is-outlined is-rounded" routerLink = "/">立即搶購</button>
        </div> 
        <div class="container">
            <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()" style="margin: 3rem">
                <div class="container-fluid has-text-black">
                    <div class="field is-family-sans-serif">
                        <div class="has-text-centered has-text-weight-semibold">
                            <label class="is-size-5">新用戶註冊</label>
                        </div>
                        <div class="field">
                            <div class="label is-normal">
                                <label for="email">Email</label>
                            </div>
                            <div class="">
                                <p class="control is-expanded has-icons-left">
                                    <span class="icon is-left ">
                                        <svg class="svg-icon envelope" viewBox="0 0 20 20">
                                            <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"
                                            style="stroke:lightgrey;stroke-width:0.5;"
                                            ></path>
                                        </svg>
                                    </span>
                                    <input class="input is-rounded" type="email" formControlName="email" required>
                                </p>
                                <div *ngIf="email.invalid && email.dirty" class="label help is-normal is-danger">
                                    <label for="invalidEmail">
                                        格式錯誤或{{ email.value }}已被使用
                                    </label> 
                                </div>
                                <div *ngIf="email.valid" class="label is-normal help is-success">
                                    <label for="validemail">
                                        {{ email.value }} 可用
                                    </label>
                                </div>
                                <div *ngIf="email.pending" class="label is-normal help is-info">
                                    Hold tight... 確認 {{ email.value }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="field" style="margin-top: 2rem">
                            <div class="label is-normal">
                                <label for="displayName">用戶名</label>
                            </div>
                            <div class="">
                                <div class="content control is-expanded has-icons-left">
                                    <span class="icon is-left ">
                                        <svg class="svg-icon user" viewBox="0 0 20 20">
                                            <path d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"
                                            style="stroke:lightgrey;stroke-width:0.5;"
                                            ></path>
                                        </svg>
                                    </span>
                                    <input class="input is-rounded" type="displayName" formControlName="displayName" required>
                                </div>
                                <div *ngIf="displayName.invalid && displayName.dirty" class="label help is-normal is-danger">
                                    <label for="invalidDisplayName">
                                        {{ displayName.value }} 已被使用
                                    </label>
                                </div>
                                <div *ngIf="displayName.valid" class="label is-normal help is-success">
                                    <label for="validDisplayName">
                                        {{ displayName.value }} 可用
                                    </label>
                                </div>
                                <div *ngIf="displayName.pending" class="label is-normal help is-info">
                                    Hold tight... 確認 {{ displayName.value }}
                                </div>
                            </div>                        
                        </div>
                        <div class="field" style="margin-top: 2rem">
                            <div class="label is-normal">
                                <label for="password">密碼</label>
                            </div>
                            <div class="">
                                <div class="content control is-expanded has-icons-left">
                                    <input class="input is-rounded" type="password" formControlName="password" required>
                                    <span class="icon is-left ">
                                        <svg class="svg-icon lock" viewBox="0 0 20 20">
                                            <path d="M17.308,7.564h-1.993c0-2.929-2.385-5.314-5.314-5.314S4.686,4.635,4.686,7.564H2.693c-0.244,0-0.443,0.2-0.443,0.443v9.3c0,0.243,0.199,0.442,0.443,0.442h14.615c0.243,0,0.442-0.199,0.442-0.442v-9.3C17.75,7.764,17.551,7.564,17.308,7.564 M10,3.136c2.442,0,4.43,1.986,4.43,4.428H5.571C5.571,5.122,7.558,3.136,10,3.136 M16.865,16.864H3.136V8.45h13.729V16.864z M10,10.664c-0.854,0-1.55,0.696-1.55,1.551c0,0.699,0.467,1.292,1.107,1.485v0.95c0,0.243,0.2,0.442,0.443,0.442s0.443-0.199,0.443-0.442V13.7c0.64-0.193,1.106-0.786,1.106-1.485C11.55,11.36,10.854,10.664,10,10.664 M10,12.878c-0.366,0-0.664-0.298-0.664-0.663c0-0.366,0.298-0.665,0.664-0.665c0.365,0,0.664,0.299,0.664,0.665C10.664,12.58,10.365,12.878,10,12.878"
                                            style="stroke:lightgrey;stroke-width:0.5;"
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                                <div *ngIf="password.invalid && password.touched" class="label help is-normal is-danger">
                                    <label for="invalidPassword">
                                        密碼須介於6-24個英數字元
                                    </label>
                                </div>
                                <div *ngIf="signupForm.valid" class="label is-normal help is-success">
                                    <label for="vaildSignup">
                                        請按送出以完成
                                    </label>
                                </div>
                            </div>                        
                        </div>
                        
                        <div class="control is-right is-family-sans-serif" style="margin-top: 2rem">
                            <button class="button is-pulled-right is-rounded" type="submit" [disabled]="!signupForm.valid" (click)="signup()">
                                送出
                            </button>
                            <button class="button is-rounded" (click)="auth.googleSignin()">
                                <span class="icon is-left ">
                                    <svg class="svg-icon user" viewBox="0 0 30 22">
                                        <path d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032 s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2 C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z"
                                        style="stroke:lightgrey;stroke-width:0.5;"
                                        ></path>
                                    </svg>
                                </span>
                                <p>登入並註冊</p> 
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>          
    </ng-container>
</section>
<script src="https://kit.fontawesome.com/3ab715c41f.js"></script>
