<script src="https://kit.fontawesome.com/3ab715c41f.js"></script>
<ng-container *ngIf="(auth.user$ | async) || {} as user">
    <div class="container">
        <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
            <div class="container has-text-black">
                <div class="field is-family-sans-serif">
                    <div>
                        <label class="label is-big">新用戶註冊</label>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="email">Email</label>
                        </div>
                        <div class="field-body">
                            <p class="control is-expanded has-icons-left">
                                    <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                <input class="input" type="email" formControlName="email">
                                
                            </p>
                        </div>
                    </div>
                    <div *ngIf="email.invalid && email.dirty">
                        <label class="label" for="invalidEmail">
                            Your email doesn't look quite right...
                        </label> 
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="password">Password</label>
                        </div>
                        <div class="field-body">
                            <div class="content control is-expanded has-icons-left">
                                <input class="input" type="password" formControlName="password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>                        
                    </div>
                    <div *ngIf="password.invalid && password.touched" >
                        <label for="invalidPassword">
                            Password must be between 6 and 24 chars and have at least one number
                        </label>
                    </div>
                    <div *ngIf="signupForm.valid" >
                        <label for="vaildSignup">
                            Form looks good! Let's do this.
                        </label>
                    </div>
                    <div class="control is-right">
                        <button class="button" type="submit" [disabled]="!signupForm.valid" routerLink="">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form [formGroup]="detailForm" *ngIf="user.uid && !user.catchPhrase" (ngSubmit)="setCatchPhrase(user)">
      
      <h3>Set your Catch Phrase</h3>
  
      <label for="catchPhrase">CatchPhrase</label>
      <input type="test" formControlName="catchPhrase">
      
    
      <button type="submit" [disabled]="!detailForm.valid">Submit</button>
      
      
    </form>
  
    <p *ngIf="user.catchPhrase">
        You have completed the form!
    </p>
      
  </ng-container>