<section class="section is-medium is-family-sans-serif">
    <div class="columns container-fluid">
        <div class="column is-2 has-text-centered">
                <app-about-menu></app-about-menu>
        </div>
        <div class="column is-10 container-fluid is-family-sans-serif">
            <div class="container-fluid has-text-centered is-family-sans-serif">
                <p class="has-text-weight-bold is-size-2">About Us</p>
            </div>
            <div class="container-fluid" style="background: url(../../../assets/img/top.gif);background-size: cover;background-position: center; height: 90vh; margin-bottom: 3vh"></div>
            <div class="container-fluid">
                <div class="container-fluid has-text-centered has-background-black">
                    <p class="has-text-white is-size-4-tablet is-size-6-mobile" style="padding: .5rem">
                            2018年成立 HARRIS ASIA為亞洲集團總部，<br>擁有旗下三大品牌
                    </p>
                </div>
                <div class="columns is-vcentered containerImage container-12 is-centered">
                    <img class="image is-block column is-3" src="../../../assets/img/HARRIS LOGO_1_1.jpg" alt="">
                    <img class="image is-block column is-3" src="../../../assets/img/MarcoHiuui logo_190527-02.png" alt="">
                    <img class="image is-block column is-3" src="../../../assets/img/polo logo-01.jpg" alt="">
                </div>
            </div>
            <div class="container-12 columns is-vcentered" style="min-height: 70vh">
                <div class="column is-5 container-fluid imageContainer" 
                style="background: url(../../../assets/img/about/HARRIS01.jpg); background-position: center; background-size: cover">
                </div>
                <div class="column is-7 container-fluid is-paddingless" style="min-height: 70vh">
                    <div class="container-12 has-text-centered has-background-black">
                        <p class="has-text-white is-size-4" style="padding: .5rem">
                            我們的目標
                        </p>
                    </div>
                    <div class="content_container">
                        <p class="content is-size-5 has-text-justified">
                            目前位於澳門及台灣地區，未來我們更拓展至亞洲更多地區發展我們的信念與產品。
                            2019年更開拓提供網路販售部分，提供當季最新流行包款，
                            滿足更多消費者需求，並傾聽消費者心聲，理解更多層面為考量設計重點。
                            HARRIS ASIA朝著永續經營為發展目標，全力以赴創造市場價值。
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
    