@font-face
  font-family: 'Noto Sans TC', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

$family-sans-serif: 'Noto Sans TC', sans-serif


.containerImage
    min-height: 40vh

@import "~bulma/bulma.sass"