<section class="section is-medium is-family-sans-serif">
    <div class="columns container">
        <div class="column is-4">
            <aside class="menu">
                <ul class="menu-list">
                    <p class="menu-label is-size-6">品牌介紹</p>
                        <ul class="menu-list">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    <li>
                        <a href="">精湛工藝</a>
                    </li>  
                    <li>
                        <a href="">未來願景</a>
                    </li>  
                </ul>    
            </aside>
        </div>
        <div class="column is-7"></div>
    </div>
</section>


