<section class="section is-paddingless">
    <video class="hero" playsinline autoplay muted loop width="100%" *ngIf="asset">
        <source src="{{'https:' + asset.fields.file.url}}" type="video/mp4" />
    </video>
</section>
<section class="section is-family-sans-serif">
    <div class="container" style="margin-bottom: 2rem;">
        <h1 class="has-text-centered is-size-4-touch is-size-3-desktop">
            It all started a century ago…
        </h1>
        <p class="container has-text-centered is-size-6-touch ">
            Harris成立於1913年，主要生產軍用鞋，我們是根據意大利傳統技術製造皮具產品，但總是尋求風格，最大能力下把客戶需求放在首位!超過百年的歷史和經驗使Harris的設計風格融入獨特當季歐洲皮具產品中。
        </p>
    </div> 
    <p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p>   
    <div class="columns is-centered has-text-centered">
        <div class="column is-4">
            <div class="image is-square" style="background-image: url('assets/img/about/Image 001.jpg'); background-size: cover; background-position: center;"></div>
            <p class="is-size-6-touch container ">
                在今日掌舵人Bruno Famiglietti的堅持下，保證Harris原產義大利佛羅倫斯工藝，並把傳承了三代的百年奉獻精神和對細節的執著，在義大利每年兩次時裝當季設計中發揮得淋漓盡致。
            </p>
        </div>
        <div class="column is-4">
            <p class="is-hidden-touch">
                我們的理想是創造更物美價廉歐洲當季潮流時尚皮具，不斷提供種類多樣、美觀實用、價格合理，讓大多數消費者可以負擔得起的當季歐洲皮具。
            </p>
            <div class="image is-square" style="background-image: url('assets/img/about/HARRIS01.jpg'); background-size: cover; background-position: center;"></div>
            <p class="is-size-6-touch container is-hidden-desktop">
                我們的理想是創造更物美價廉歐洲當季潮流時尚皮具，不斷提供種類多樣、美觀實用、價格合理，讓大多數消費者可以負擔得起的當季歐洲皮具。
            </p>
        </div>
        <div class="column is-4">
            <div class="image is-square" style="background-image: url('assets/img/about/HARRIS1930ad.jpg'); background-size: cover; background-position: center;"></div>
            <p class="is-size-6-touch container ">
                我們知道如果要提供便宜、品質又好的商品， Harris 必須有效的管理成本及運用創新的製造方法，這也正是 Harris 從義大利佛羅倫斯（Firenze）百年起步至今，從未改變的信念！
            </p>
        </div>
    </div>
</section>
