<div class="is-family-sans-serif">
    <section class="section section--gradient">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="section">
                        <h2 class="title is-size-3 has-text-weight-bold is-bold-light">About our values</h2>
                        <div class="content">
                            <p>
                                <img src="assets/img/top.gif" alt="gif" title="harrisGIF">
                            </p>
                            <p>
                                2018年成立 HARRIS ASIA為亞洲集團總部，擁有旗下HARRIS、Marco Hiuui& POLO club三大品牌。
                                <br>目前位於澳門及台灣地區，未來我們更拓展至亞洲更多地區發展我們的信念與產品。
                                <br>2019年更開拓提供網路販售部分，提供當季最新流行包款，滿足更多消費者需求，<br>並傾聽消費者心聲，理解更多層面為考量設計重點。
                                <br>HARRIS ASIA朝著永續經營為發展目標，全力以赴創造市場價值。
                            </p>
                            <h3>HARRIS的品牌故事</h3>
                            <p>
                                在HARRIS成立百年的創業理念中，我們希望能為我們的支持者帶來歐洲當季潮流滙聚、價格大眾化、並且讓大多數人可以負擔的起的皮具產品，爲了實現這樣的理想，我們從歐洲當季大型時尚發佈後,開始產品設計、原料採購、生產製造，到在分店中的經營，都不斷在更新和尋求突破。
                            </p>
                            <p>
                                我們知道如果要提供顧客便宜、品質又好的商品，HARRIS必須有效的管理成本及運用創新的製造方法，這也正是HARRIS從義大利佛倫羅斯（Firenze）百年起步至今，從未改變的信念，最有效的當季歐洲原味設計，尋找更經濟皮料配搭、更有效率及更有創意的製造及包裝方式，降低成本，回饋給大家!
                            </p>
                            <h3>HARRIS的成立和經營理念</h3>
                            <p>
                                Harris成立於1913年，主要生產軍用鞋，根據義大利傳統技術製造皮具產品，將客戶需求放在首位!超過百年的歷史及經驗使Harris設計風格融入獨特當季歐洲皮具產品中。
                            </p>
                            <p>
                                在今天掌舵人:Bruno Famiglietti保證HARRIS原產義大利佛羅倫斯工藝;   把百年奉獻精神和對細節的執著傳承了三代,並在義大利每年兩次時裝當季設計用料中發揮得淋漓盡致。
                            </p>
                            <p>
                                我們的理想是為大多數客戶創造更物美價廉歐洲當季潮流時尚皮具，不斷提供種類多樣、美觀實用，價格合理，讓大多數客戶可以負擔得起的當季歐洲皮具〝同工法、同材料、且價格合理化〞。
                            </p>
                            <h3>歐洲精品當季潮流的皮具</h3>
                            <p>
                                在HARRIS裡，客戶可以找到多樣當季歐洲潮流皮具又能相互搭配的合用皮具組合套裝，無論你喜貴族奢侈、現代簡約，都能在HARRIS找到，讓客戶更具個人特色和魅力。無論客戶追求風格條件，我們的設計師與產品開發人員必定讓每項HARRIS皮具都符合您日常使用的需求，並且減少不必要的浪費。
                            </p>
                            <h3></h3>
                            <h3>便宜合理的價格</h3>
                            <p>
                                提供價格便宜又品味高尚的當季商品是HARRIS理想與經營理念的核心，HARRIS所有的商品背後，有著同樣的基本價值：就是以每個人都買得起的價格去生產設計、實用的品味配搭。我們不斷努力把每件事做得更好、更簡單、更有效率，來達成這項挑戰。
                            </p>
                            <p>
                                創造精品歐風價格合理化皮具產品是HARRIS一開始設計商品的優先考量，我們將這樣創新理念帶入皮具產業，獨有經營方式也是所謂的「Harris Way」。我們有效的利用每一分原料，來設計並製造人人負擔得起的優質皮具產品，滿足每個人對於時尚場合配搭的需求與喜好。
                            </p>
                            <h3>HARRIS擴展之路</h3>
                            <p>
                                我們是一間重視價值觀，並對時尚品味生活充滿熱情的公司。 「創造更美好的時尚品味配搭」，是我們設計每一項皮具產品時所秉持的理念。
                            </p>
                            <p>
                                HARRIS 在各國家設有分店(* 統計至 2019 年 6 月)我們在義大利擁有四間專門店,分別在義大利時尚之都米蘭市和佛羅倫斯市及德國漢堡市開設了最新專門店，未來將會在中國澳門賭城開設首家亞洲區專門店。
                            </p>
                            <h3>願景與經營理念</h3>
                            <p>
                                HARRIS的願景是「為大多數人創造更有品味的時尚生活配搭」。
                            </p>
                            <p>
                                HARRIS的經營理念是「我們提供最新當季歐洲潮流滙聚設計、價格合宜且具功能性的品味配搭皮具產品，重點是大多數人都能夠負擔得起的」
                            </p>
                            <p>
                                透過建立與供應商的長期夥伴關係、投資於大量生產原材料皮丕，我們致力於為顧客提供價格合宜、品味時尚的優良皮具產品。
                            </p>
                            <h3></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
