<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile"><a routerLink="../../aboutus">品牌介紹</a></p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../ourstories">品牌故事</a></li>
                            <li><a routerLink="../ouridea">經營理念</a></li>
                            <li><a routerLink="../eufashion">歐洲潮流</a></li>
                            <li><a routerLink="../fairprice">合理價格</a></li>
                        </ul>
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile">精湛工藝</p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../../leather/league">植鞣皮革聯盟</a></li>
                            <li><a routerLink="../../leather/intro">植鞣皮革介紹</a></li>
                            <li><a routerLink="../../leather/certif">野生動物入口證</a></li>
                        </ul>
                        <hr>  
                        <li class=" is-size-4-tablet is-size-5-mobile"><a routerLink="../future">未來願景</a></li> 
                    </ul>    
                </aside>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif">
                    <div class="container-fluid has-text-centered is-family-sans-serif" style="padding: 5rem">
                        <p class="has-text-weight-bold is-size-2">未來願景</p>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/harrisFac.jpg); background-position: center; background-size: cover">
                        </div>
                        <div class="column is-7 container-12 is-paddingless">
                            <div class="container-12">
                                <div class="container-12 has-text-centered has-background-black">
                                    <p class="has-text-white is-size-4" style="padding: .5rem">
                                        我們的擴展
                                    </p>
                                </div>
                                <div class="content_container column is-10">
                                    <p class="content is-size-5 has-text-justified">
                                            我們是一間重視價值觀，並對時尚品味生活充滿熱情的公司。
                                            「創造更美好的時尚品味配搭」，是我們設計每一項皮具產品時所秉持的理念。
                                            HARRIS 在各國家設有分店* 統計至 2019 年 6 月
                                            我們在義大利擁有四間專門店，分別在義大利時尚之都米蘭市和佛羅倫斯市。
                                            及德國漢堡市開設了最新專門店，未來將會在中國澳門賭城開設首家亞洲區專門店。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-7 container-fluid is-paddingless">
                            <div class="container-12 has-text-centered has-background-black">
                                <p class="has-text-white is-size-4" style="padding: .5rem">
                                    我們的願景
                                </p>
                            </div>
                            <div class="content_container column is-10">
                                <p class="content is-size-5 has-text-justified">
                                        HARRIS的願景是「為大多數人創造更有品味的時尚生活配搭」。
                                        HARRIS的經營理念是「我們提供最新當季歐洲潮流滙聚設計、
                                        價格合宜且具功能性的品味配搭皮具產品，
                                        重點是大多數人都能夠負擔得起的」 透過建立與供應商的長期夥伴關係、投資於大量生產原材料皮丕，
                                        我們致力於為顧客提供價格合宜、品味時尚的優良皮具產品。
                                </p>
                            </div>
                        </div>
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/FAC04.jpg); background-position: center; background-size: cover">
                        </div>
                    </div>
                </div>
        </div>
    </section>