@font-face
  font-family: 'Noto Sans TC', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

$family-sans-serif: 'Noto Sans TC', sans-serif

.navbar-menu
    font-family: $family-sans-serif

.has-dropdown
    transition: 500







@import "~bulma/bulma.sass"

+touch
    .navbar-brand
        width: 100vw
    .logo
        display: none
    .navbar-end
        display: none

+desktop
    .navbar-brand
        display: none
    .navbar-start 
        width: 30vw
    .navbar-end
        width: 30vw
    .is-mobile
        display: none

a.navbar-item
    &:hover
        color: #d1d1d1
    &:focus
        color: #d1d1d1
        border-bottom: 1rem

/* -----SVG Icons - svgicons.sparkk.fr----- */

.svg-icon
    height: 1.5em


.svg-icon path.svg-icon polygon.svg-icon rect 
    fill: #4691f6


.svg-icon circle
    stroke: #4691f6
    stroke-width: 1