<nav class="navbar is-black is-transparent has-text-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        <img src="assets/img/logo_i.svg" width="112" height="28">
      </a>
  
      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
   <br>
    <div class="navbar-menu has-text-white" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item" routerLink="about">
          關於我們
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" routerLink="products">
            商品
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="fotografica">
                SNAPSHOT 相機包
            </a>
            <a class="navbar-item" routerLink="classic-flap">
                LEOPARD 口蓋包
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" routerLink="handbags">
              手拿包
            </a>
            <a class="navbar-item" routerLink="crossbody">
              側背包
            </a>
            <a class="navbar-item">
              銀包
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              特價品
            </a>
          </div>
        </div>
        <a class="navbar-item" routerLink="stories">
          最新消息
        </a>
      </div>
      <div class="navbar-end">
        <div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
        </div>
        <!-- User NOT logged in -->
        <ng-template #guest>
            <div class="navbar-item">
              <div class="buttons">
                <button class="button is-dark">
                  <strong>註冊</strong>
                </button>
                <a class="button is-light" (click)="auth.googleSignin()">
                  登錄
                </a>
              </div>
            </div>
        </ng-template>
        <!-- User logged in -->
        <ng-template #authenticated>
          <div *ngIf="auth.user$ | async as user">
            <div class="navbar-item">
              <h3>嗨, {{ user.displayName }}</h3>
              <img  [src]="user.photoURL">
              <!--<p>UID: {{ user.uid }}</p>-->
              <button (click)="auth.signOut()" class="button is-dark">登出</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>