<section class="hero" style="min-height: 72vh;">
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
    <ng-template #authenticated>
        <div class="container has-text-black" *ngIf="auth.user$ | async as user">
            <div class="field is-family-sans-serif">
                <div class="has-text-centered has-text-weight-semibold" style="margin: 3rem">
                    <label class="is-size-5">產品防偽鑑別</label>
                </div>
                <div class="field">
                    <div class="label is-normal">
                        <label for="security">防偽碼</label>
                    </div>
                    <div class="">
                        <p class="control is-expanded has-icons-left">
                                <fa-icon [icon]="['fas','lock']" class="icon is-small is-left">
                                </fa-icon>
                            <input class="input is-rounded" type="security">
                        </p>
                    </div>
                </div>
                <!--<div class="field" style="margin-top: 2rem">
                    <div class="label is-normal">
                        <label for="valid">驗證碼</label>
                    </div>
                    <div class="">
                        <div class="content control is-expanded has-icons-left">
                            <input class="input is-rounded" type="valid">
                            <fa-icon [icon]="['fas','lock']" class="icon is-small is-left"></fa-icon>
                        </div>
                    </div>                        
                </div>-->
                
                <div class="control is-right" style="margin-top: 2rem">
                    <button class="button is-pulled-right is-rounded" type="submit">
                        送出
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #guest>
        <p>請登入後再行驗證</p>
    </ng-template>    
</section>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld5A78UAAAAAEhORKv5_RITym4UXiEx1Xa7GlXq"></script>
<script>
    grecaptcha.ready(function () {
        console.log('1. grecaptcha.ready');
        console.log('2. grecaptcha.execute("6Ld5A78UAAAAAEhORKv5_RITym4UXiEx1Xa7GlXq", { action: "@Url.Action("VerifyBot", "Account")" })');
          grecaptcha.execute('6Ld5A78UAAAAAEhORKv5_RITym4UXiEx1Xa7GlXq', { action: '@Url.Action("VerifyBot", "Account")' }).then((token) => {
              console.log('3. Get token from reCAPTCHA service => ', token);
              console.log('4. Verifying Bot...');
              $.ajax({
                  type: 'POST',
                  url: '@Url.Action("VerifyBot", "Account")',
                  data: { token: token },
                  success: (res) => {
                      console.log('5. Return => ', res);
                  }
              });
          });
    });
</script>