<div style="margin: 2rem 0 0 0;">
    <p class="container line" style="width: 20vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod;margin-bottom: 1.5rem;"></p>
</div>
<section class="hero has-background-white-ter" style="min-height: 72vh; padding-top: 3rem;">
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
    <ng-template #authenticated>
        <form  [formGroup]="authForm" (ngSubmit)="authSummit()" *ngIf="!success">
            <div class="container has-text-black" *ngIf="auth.user$ | async as user">
                <div class="field is-family-sans-serif">
                    <div class="has-text-centered has-text-weight-semibold" style="margin: 3rem">
                        <p class="is-size-3">
                            產品防偽鑑別
                        </p>
                        <p class="is-size-6">
                            The only authentic platform for<br>Harris' security code checking
                        </p>
                    </div>
                    <div class="field" style="margin: 3rem">
                        <div class="label is-normal">
                            <label for="code">防偽碼</label>
                        </div>
                        <div class="">
                            <div class="control is-expanded has-icons-left">
                                    <fa-icon [icon]="['fas','lock']" class="icon is-small is-left">
                                    </fa-icon>
                                <input class="input is-rounded" type="code" formControlName="code" required>
                            </div>
                            <!--<div *ngIf="code.invalid && code.dirty" class="label help is-normal is-danger">
                                <label for="invalidCode">
                                    {{ code.value }}錯誤
                                </label> 
                            </div>
                            <div *ngIf="code.valid"  class="label is-normal help is-success">
                                <label for="validCode">
                                    {{ code.value }} 正確
                                </label>
                            </div>
                            <div *ngIf="code.pending" class="label is-normal help is-info">
                                Hold tight... 確認 {{ code.value }}
                            </div>-->
                        </div>
                    </div>                
                    <div class="control is-right" style="margin: 3rem">
                        <button class="button is-pulled-right is-rounded" type="submit">
                            送出
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="success" class="container" style="margin: 2rem">
            <div *ngIf="code.valid" class="container-fluid has-text-centered is-family-sans-serif" style="margin: 3rem">
                    <fa-icon [icon]="['far','check-circle']" size="7x" [styles]="{'stroke': 'MediumSpringGreen', 'color': 'MediumSpringGreen'}" class="icon is-large">
                        </fa-icon>
                <p class="is-size-5 is-family-sans-serif" style="margin-bottom: 2rem">驗證成功</p>
                <p>您輸入的驗證碼正確，感謝您購買官方正貨。</p>
            </div>
            <div *ngIf="code.invalid && code.dirty" class="container-fluid has-text-centered is-family-sans-serif" style="margin: 3rem">
                <fa-icon [icon]="['far','times-circle']" size="7x" [styles]="{'stroke': 'PaleVioletRed', 'color': 'PaleVioletRed '}" class="icon is-large">
                    </fa-icon>
                <p class="is-size-5 is-family-sans-serif" style="margin-bottom: 2rem">驗證失敗</p>
                <p>您輸入的驗證碼{{ code.value }}不存在<br>請協助我們杜絕仿冒。</p>
            </div>
            <div class="container">
                <button class="button is-black is-rounded is-fullwidth" routerLink = "/">回到首頁</button>
            </div>
        </div>       
    </ng-template>
    <ng-template #guest>
        <p>請登入後再行驗證</p>
    </ng-template> 
</section>