<aside class="menu">
        <ul class="menu-list">
            <hr>
            <p class="menu-label is-size-6" routerLink="../aboutus">品牌介紹</p>
            <ul class="menu-list">
                <li routerLink="../ourstories">品牌故事</li>
                <li routerLink="../ourIdea">經營理念</li>
                <li routerLink="../euFashion">歐洲潮流</li>
                <li routerLink="../fairPrice">合理價格</li>
            </ul>
            <hr>
            <p class="menu-label is-size-6" routerLink="../aboutus">精湛工藝</p>
            <ul class="menu-list">
                <li routerLink="../ourstories">植鞣皮革聯盟</li>
                <li routerLink="../ourIdea">植鞣皮革介紹</li>
                <li routerLink="../euFashion">野生動物入口證</li>
            </ul>
            <hr>  
            <li routerLink="../future">未來願景</li> 
        </ul>    
    </aside>