<div class="section container">
    <p class="is-family-sans-serif has-text-weight-bold is-capitalized is-size-2">your shopping bag</p>
</div>
<div class="section">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-7">
            <div class="box columns is-multiline" *ngFor="let item of items; let i = index">
                <p class="column is-12 is-size-5">{{ item.fields.productName }}</p>
                <img src="{{ item.fields.image[0].fields.file.url }}" alt="" class="column is-3">
                <div class="column is-3">
                    <p>{{ item.fields.color }}</p>
                    <p>{{ item.fields.size }}</p>
                </div>
                <p class="column is-2">{{item.fields.price | currency }}</p>
                <input class="column is-1 input" type="number" name="quantity" id="quantity" step="1" value="1">
                <!--<p class="column is-1">{{item.fields.quantity}}</p>!-->
                <p class="column is-2">{{item.fields.price | currency }}</p>
                <p class="column is-1 has-text-weight-bold" style="cursor: pointer" (click)="items.splice(i, 1)">X</p>
            </div>
        </div>
        <div class="column is-1"></div>
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label is-capitalized is-size-3">
                order summary
                </p>
                <p class="menu-label is-capitalized">
                    fee
                </p>
                <ul class="menu-list">
                <li><a>shipping</a></li>
                <li><a>Shipping cost</a></li>
                <li><a>Sales Tax</a></li>
                </ul>
                
                <p class="menu-label is-capitalized is-size-3">
                total
                </p>
                <ul class="menu-list">
                <li>{{totalPrice}}</li>
                </ul>
                <button class="button is-dark is-capitalized">checkout</button>
            </aside>
        </div>
    </div>
</div>

