<div class="section container">
    <p class="is-family-sans-serif has-text-weight-bold is-capitalized is-size-2">your shopping bag</p>
</div>
<div class="section has-background-white-ter">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-7 is-family-sans-serif">
            <div class="box columns is-multiline is-mobile is-vcentered" *ngFor="let item of items; let i = index" style="margin-top: 2rem;">
                <p
                class="column is-12 is-size-5 has-text-weight-bold "
                [routerLink]="['/products', item.fields.slug]"
                style="cursor: pointer;">
                    {{ item.fields.productName }}
                </p>
                <div
                class="column is-5"
                [ngStyle]="{'background-image': 'url(' + item.fields.image[0].fields.file.url + ')'}"
                style="min-height: 20vh;; background-repeat: no-repeat; background-size: contain;">
                </div>
                <div class="column is-7">
                    <div class="columns has-text-right">
                        <div class="column is-5">
                        <p>{{ item.fields.color }}</p>
                        <p>{{ item.fields.size }}</p>
                        </div>
                        <p class="column is-5">{{item.fields.price | currency }}</p>
                    <!--<input class="column is-1 input" type="number" name="quantity" #quantity ng-bind="quantity" step="1" value="1">
                        <p class="column is-1">{{item.fields.quantity}}</p>!
                        <p class="column is-2">{{item.fields.price * quantity.value | currency }}</p>-->
                        <div class="column is-2 has-text-weight-bold">
                            <p style="cursor: pointer" (click)="items.splice(i, 1)">X</p>
                        </div>
                    </div>
                </div>                                
            </div>
        </div>
        <div class="column is-1"></div>
        <div class="column is-3">
            <aside class="menu is-family-sans-serif">
                <p class="menu-label is-capitalized is-size-3">
                order summary
                </p>
                <p class="menu-label is-capitalized">
                    fee
                </p>
                <ul class="menu-list">
                <li><a>shipping</a></li>
                <li><a>Shipping cost</a></li>
                <li><a>Sales Tax</a></li>
                </ul>                
                <p class="menu-label is-capitalized is-size-4">
                總結
                </p>
                <ul class="menu-list">
                <li>{{ totalPrice | currency}}</li>
                </ul>
                <div *ngIf="auth.user$ | async; then authenticated else guest">
                    <!-- template will replace this div -->
                </div>
                <!-- User NOT logged in -->
                <ng-template #guest>
                    <button class="button is-dark is-capitalized" disabled style="margin-top: 3rem">請登錄</button>
                </ng-template>
                <!-- User logged in -->
                <ng-template #authenticated>
                        <button class="button is-dark is-capitalized" (click)="toggleModal()" style="margin-top: 3rem">結帳</button>
                        <div class="modal" [ngClass]="{ 'is-active' : isModalActive }" style="padding: 3rem">
                            <div class="modal-background" (click)="toggleModal()"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <p class="is-size-4">總結</p>
                                    <p class="is-size-4">{{ totalPrice | currency}}</p>
                                    <p class="is-size-5">明細</p>
                                    <div *ngFor="let item of items; let i = index">
                                        <p>{{ item.fields.productName }},{{ item.fields.color }}</p>
                                    </div>
                                    
                                    <img src="/assets/img/10348192265619_1.jpg" alt="" style="margin: 2rem 0 2rem 0">
                                    <p>請將款項匯入此支付寶帳戶，並備註用戶名<br>我們將盡快為您服務</p>
                                </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
                        </div>
                </ng-template>
            </aside>
        </div>
    </div>
</div>

