<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile"><a routerLink="../aboutus">品牌介紹</a></p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../ourstories">品牌故事</a></li>
                            <li><a routerLink="../ouridea">經營理念</a></li>
                            <li><a routerLink="../eufashion">歐洲潮流</a></li>
                            <li><a routerLink="../fairprice">合理價格</a></li>
                        </ul>
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile">精湛工藝</p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../../leather/league">植鞣皮革聯盟</a></li>
                            <li><a routerLink="../../leather/intro">植鞣皮革介紹</a></li>
                            <li><a routerLink="../../leather/certif">野生動物入口證</a></li>
                        </ul>
                        <hr>  
                        <li class=" is-size-4-tablet is-size-5-mobile"><a routerLink="../future">未來願景</a></li> 
                    </ul>    
                </aside>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif">
                <div class="container-fluid has-text-centered is-family-sans-serif" style="padding: 5rem">
                    <p class="has-text-weight-bold is-size-2">歐洲潮流</p>
                </div>
                <div class="container-12 columns" style="margin-bottom: 5rem">
                    <div class="column is-5 container-fluid imageContainer" 
                    style="background: url(../../../assets/img/about/HARRIS03.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-7 container-fluid is-paddingless">
                        <div class="container-12 has-text-centered has-background-black">
                            <p class="has-text-white is-size-4" style="padding: .5rem">
                                我們的信心
                            </p>
                        </div>
                        <div class="content_container column is-10">
                            <p class="content is-size-5 has-text-justified">
                                在HARRIS裡，客戶可以找到多樣當季歐洲潮流皮具又能相互搭配的合用皮具組合套裝，無論你喜貴族奢侈、現代簡約，都能在HARRIS找到，讓客戶更具個人特色和魅力。無論客戶追求風格條件，我們的設計師與產品開發人員必定讓每項HARRIS皮具都符合您日常使用的需求，並且減少不必要的浪費。                                    </p>
                        </div>
                    </div>                            
                </div>
                <div class="columns is-vcentered containerImage container-12 is-centered" style="margin-bottom: 5rem">
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/MH04.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/_DSC4512.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/HARRIS02.jpg); background-position: center; background-size: cover">
                    </div>
                </div>
            </div>
        </div>
    </section>