<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                    <app-about-menu></app-about-menu>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif">
                <div class="container-fluid has-text-centered is-family-sans-serif" style="padding: 5rem">
                    <p class="has-text-weight-bold is-size-2">未來願景</p>
                </div>
                <div class="container-12 columns" style="margin-bottom: 5rem">
                    <div class="column is-5 container-fluid" 
                    style="background: url(../../../assets/img/about/HARRIS03.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-7 container-fluid is-paddingless">
                        <div class="container-12 has-text-centered has-background-black">
                            <p class="has-text-white is-size-4" style="padding: .5rem">
                                我們的信心
                            </p>
                        </div>
                        <div class="container column is-10">
                            <p class="content is-size-5 has-text-justified" style="line-height: 4rem">
                                在HARRIS裡，客戶可以找到多樣當季歐洲潮流皮具又能相互搭配的合用皮具組合套裝，無論你喜貴族奢侈、現代簡約，都能在HARRIS找到，讓客戶更具個人特色和魅力。無論客戶追求風格條件，我們的設計師與產品開發人員必定讓每項HARRIS皮具都符合您日常使用的需求，並且減少不必要的浪費。                                    </p>
                        </div>
                    </div>                            
                </div>
                <div class="columns is-vcentered containerImage container-12 is-centered" style="margin-bottom: 5rem">
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/MH04.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/_DSC4512.jpg); background-position: center; background-size: cover">
                    </div>
                    <div class="column is-4 imageContainer"
                    style="background: url(../../../assets/img/about/HARRIS02.jpg); background-position: center; background-size: cover">
                    </div>
                </div>
            </div>
        </div>
    </section>