<section class="section is-medium is-family-sans-serif">
        <div class="columns container">
            <div class="column is-4">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-6" routerLink="aboutus">品牌介紹</p>
                        <ul class="menu-list">
                            <li routerLink="../ourstories">品牌故事</li>
                            <li routerLink="../ouridea">經營理念</li>
                            <li routerLink="../eufashion">歐洲潮流</li>
                            <li routerLink="../fairprice">合理價格</li>
                        </ul>
                        <hr>
                        <li routerLink="../technique">精湛工藝</li>
                        <hr>  
                        <li routerLink="../future">未來願景</li>  
                    </ul>    
                </aside>
            </div>
            <div class="column is-7 is-family-sans-serif">
                    <div class="container">
                        <p class="has-text-weight-bold is-size-2">歐洲潮流</p>
                    </div>
                    <div class="container">
                        <img src="../../../assets/img/about/HARRIS 1930ad.jpg" alt="">
                        <div class="container">
                            <div class="container has-background-black">
                                <p class="has-text-white">我們的信心</p>
                            </div>
                            <p>
                                    Harris成立於1913年，主要生產軍用鞋，<br>
                                    根據義大利傳統技術製造皮具產品，將客戶需求放在首位!<br>
                                    超過百年的歷史及經驗使Harris設計風格融入獨特當季歐洲皮具產品中。<br>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                            <div class="container">
                                <div class="container has-background-black">
                                    <p class="has-text-white">我們的理想</p>
                                </div>
                                <p>
                                    在今天掌舵人:Bruno Famiglietti保證HARRIS原產義大利佛羅倫斯工藝;<br>
                                    把百年奉獻精神和對細節的執著傳承了三代，並在義大利每年兩次時裝當季設計用料中發揮得淋漓盡致。<br>
                                    我們的理想是為大多數客戶創造更物美價廉歐洲當季潮流時尚皮具，<br>
                                    不斷提供種類多樣、美觀實用，價格合理，讓大多數客戶可以負擔得起的當季歐洲皮具<br>
                                    〝同工法、同材料、且價格合理化〞。<br>
                                        
                                </p>
                            </div>
                            <img src="../../../assets/img/about/FAC03.jpg" alt="">
                        </div>
                </div>
            </div>
        </section>
        