<script src="https://kit.fontawesome.com/3ab715c41f.js"></script>
<section class="hero"></section>
<ng-container *ngIf="(auth.user$ | async) || {} as user">
    <div class="container">
        <form [formGroup]="signinForm" *ngIf="!user.uid">
            <div class="container has-text-black">
                <div class="field is-family-sans-serif">
                    <div>
                        <label class="label is-big">用戶登錄</label>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="email">Email</label>
                        </div>
                        <div class="field-body">
                            <p class="control is-expanded has-icons-left">
                                    <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                <input class="input" type="email" formControlName="email" required>
                            </p>
                            <div *ngIf="email.invalid && email.dirty" class="field-label help is-normal is-danger">
                                <label for="invalidEmail">
                                    {{ email.value }}錯誤
                                </label> 
                            </div>
                            <div *ngIf="email.valid" class="field-label is-normal help is-success">
                                <label for="validemail">
                                    {{ email.value }} 正確
                                </label>
                            </div>
                            <div *ngIf="email.pending" class="field-label is-normal help is-info">
                                Hold tight... 確認 {{ email.value }}
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="displayName">用戶名稱</label>
                        </div>
                        <div class="field-body">
                            <div class="content control is-expanded has-icons-left">
                                <input class="input" type="displayName" formControlName="displayName" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <div *ngIf="displayName.invalid && displayName.dirty" class="field-label help is-normal is-danger">
                                <label for="invalidDisplayName">
                                    {{ displayName.value }} 錯誤
                                </label>
                            </div>
                            <div *ngIf="displayName.valid" class="field-label is-normal help is-success">
                                <label for="validDisplayName">
                                    {{ displayName.value }} ，您好
                                </label>
                            </div>
                            <div *ngIf="displayName.pending" class="field-label is-normal help is-info">
                                Hold tight... 確認 {{ displayName.value }}
                            </div>
                        </div>                        
                    </div>!-->
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="password">密碼</label>
                        </div>
                        <div class="field-body">
                            <div class="content control is-expanded has-icons-left">
                                <input class="input" type="password" formControlName="password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <div *ngIf="password.invalid && password.touched" class="field-label help is-normal is-danger">
                                <label for="invalidPassword">
                                    密碼錯誤
                                </label>
                            </div>
                            <div *ngIf="signinForm.valid" class="field-label is-normal help is-success">
                                <label for="vaildSignin">
                                    請按送出以完成
                                </label>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="control is-right">
                        <button class="button" type="submit" [disabled]="!signinForm.valid" routerLink="">
                            送出
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>   
</ng-container>