<script src="https://kit.fontawesome.com/3ab715c41f.js"></script>
<section class="hero" style="min-height: 72vh;">
    <ng-container *ngIf="(auth.user$ | async) || {} as user">
        <div *ngIf="user.uid" class="container-fluid has-text-centered is-family-sans-serif" style="margin: 3rem">
            <p class="is-size-5 is-family-sans-serif" style="margin-bottom: 2rem">帳號登陸成功</p>
            <button class="button is-success is-outlined is-rounded" routerLink = "/">立即搶購</button>
        </div> 
        <div class="container">
            <form [formGroup]="signinForm" *ngIf="!user.uid" (ngSubmit)="signin()">
                <div class="container has-text-black">
                    <div class="field is-family-sans-serif">
                        <div class="has-text-centered has-text-weight-semibold" style="margin: 3rem">
                            <label class="is-size-5">用戶登錄</label>
                        </div>
                        <div class="field">
                            <div class="label is-normal">
                                <label for="email">Email</label>
                            </div>
                            <div class="">
                                <p class="control is-expanded has-icons-left">
                                        <fa-icon [icon]="['fas','envelope']" class="icon is-small is-left">
                                        </fa-icon>
                                    <input class="input is-rounded" type="email" formControlName="email" required>
                                </p>
                                <div *ngIf="email.invalid && email.dirty" class="label help is-normal is-danger">
                                    <label for="invalidEmail">
                                        {{ email.value }}錯誤
                                    </label> 
                                </div>
                                <div *ngIf="email.valid"  class="label is-normal help is-success">
                                    <label for="validEmail">
                                        {{ email.value }} 正確
                                    </label>
                                </div>
                                <div *ngIf="email.pending" class="label is-normal help is-info">
                                    Hold tight... 確認 {{ email.value }}
                                </div>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 2rem">
                            <div class="label is-normal">
                                <label for="password">密碼</label>
                            </div>
                            <div class="">
                                <div class="content control is-expanded has-icons-left">
                                    <input class="input is-rounded" type="password" formControlName="password" required>
                                    <fa-icon [icon]="['fas','lock']" class="icon is-small is-left"></fa-icon>
                                </div>
                                <div *ngIf="password.invalid && password.touched" class="label help is-normal is-danger">
                                    <label for="invalidPassword">
                                        密碼錯誤
                                    </label>
                                </div>
                                <div *ngIf="signinForm.valid" class="label is-normal help is-success">
                                    <label for="vaildSignin">
                                        請按送出以完成
                                    </label>
                                </div>
                            </div>                        
                        </div>
                        
                        <div class="control is-right" style="margin-top: 2rem">
                            <button class="button is-pulled-right is-rounded" type="submit" [disabled]="!signinForm.valid">
                                送出
                            </button>
                            <button class="button is-rounded" (click)="auth.googleSignin()">
                                <fa-icon [icon]="['fab','google']" class="icon is-small is-left"></fa-icon>
                                <p>登入</p>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
</section>
