<section class="hero">
    <div class="hero-body top"></div>
</section>
<section class="container-fluid has-text-centered has-text-weight-bold" style="height:5vh">
    <p class="content is-family-sans-serif is-size-3 is-bold">NEWS</p>
</section>
<section class="hero " *ngIf="newStoriesImage.fields.heroBodyImage">
    <div *ngFor="let stories of newStoriesImage.fields.heroBodyImage">
        <div class="hero-body stories" 
        [ngStyle]="{'background-image': 'url(' + stories.fields.file.url + ')'}"
        style="background-position: right"
    ></div>
    </div>
    
</section>