<section class="hero">
    <div class="hero-body top"></div>
</section>
<section class="container-fluid has-text-centered has-text-weight-bold" style="height:5vh">
    <p class="content is-family-sans-serif is-size-3 is-bold">NEWS</p>
</section>
<section class="hero " *ngFor="let stories of newStoriesImage">
    <div *ngFor="let image of stories.fields.heroBodyImage">
        <div class="hero-body stories" 
            [ngStyle]="{'background-image': 'url(' + image.fields.file.url + ')'}"
        ></div> 
    </div>
    
</section>