<section class="hero">
    <div class="hero-body top"></div>
</section>
<section class="container-fluid has-text-centered has-text-weight-bold" style="height:5vh">
    <p class="content is-family-sans-serif is-size-3 is-bold">NEWS</p>
</section>
<section class="hero">
    <div class="hero-body" 
            style="
                min-height: 30vh;
                background: url(../../assets/img/news/news-02.jpg) ;
                background-size: cover;
                background-position: center;
                display: flex" ></div>
    <div class="hero-body" 
    style="
        min-height: 30vh;
        background: url(../../assets/img/news/news-03.jpg) ;
        background-size: cover;
        background-position: center;
        display: flex" ></div>
    <div class="hero-body" 
    style="
        min-height: 30vh;
        background: url(../../assets/img/news/news-04.jpg) ;
        background-size: cover;
        background-position: center;
        display: flex" ></div>
    <div class="hero-body" 
    style="
        min-height: 30vh;
        background: url(../../assets/img/news/news-05.jpg) ;
        background-size: cover;
        background-position: center;
        display: flex" ></div>
    <div class="hero-body" 
    style="
        min-height: 30vh;
        background: url(../../assets/img/news/news-06.jpg) ;
        background-size: cover;
        background-position: center;
        display: flex" ></div>
    <div class="hero-body" 
    style="
        min-height: 30vh;
        background: url(../../assets/img/news/news-07.jpg) ;
        background-size: cover;
        background-position: center;
        display: flex" ></div>
</section>