<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile"><a routerLink="../aboutus">品牌介紹</a></p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../ourstories">品牌故事</a></li>
                            <li><a routerLink="../ouridea">經營理念</a></li>
                            <li><a routerLink="../eufashion">歐洲潮流</a></li>
                            <li><a routerLink="../fairprice">合理價格</a></li>
                        </ul>
                        <hr>
                        <p class="menu-label is-size-4-tablet is-size-5-mobile">精湛工藝</p>
                        <ul class="menu-list is-size-5-tablet is-size-6-mobile" style="line-height: 1rem">
                            <li><a routerLink="../../leather/league">植鞣皮革聯盟</a></li>
                            <li><a routerLink="../../leather/intro">植鞣皮革介紹</a></li>
                            <li><a routerLink="../../leather/certif">野生動物入口證</a></li>
                        </ul>
                        <hr>  
                        <li class=" is-size-4-tablet is-size-5-mobile"><a routerLink="../future">未來願景</a></li> 
                    </ul>    
                </aside>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif">
                    <div class="container-fluid has-text-centered is-family-sans-serif" style="padding: 5rem">
                        <p class="has-text-weight-bold is-size-2">品牌故事</p>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/harris_forte2.jpg); background-position: center; background-size: cover">
                        </div>
                        <div class="column is-7 container-12 is-paddingless">
                            <div class="container-12">
                                <div class="container-12 has-text-centered has-background-black">
                                    <p class="has-text-white is-size-4" style="padding: .5rem">
                                        我們的理念
                                    </p>
                                </div>
                                <div class="content_container column is-10">
                                    <p class="content is-size-5 has-text-justified" style="line-height: 4rem">
                                        在HARRIS成立百年的創業理念中，
                                        我們希望能為我們的支持者帶來歐洲當季潮流滙聚、價格大眾化，
                                        並且讓大多數人可以負擔的起的皮具產品，為了實現這樣的理想，
                                        我們從歐洲當季大型時尚發佈後，開始產品設計、原料採購、生產製造，
                                        到在分店中的經營，都不斷在更新和尋求突破。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-7 container-fluid is-paddingless">
                            <div class="container-12 has-text-centered has-background-black">
                                <p class="has-text-white is-size-4" style="padding: .5rem">
                                    我們的堅持
                                </p>
                            </div>
                            <div class="content_container column is-10">
                                <p class="content is-size-5 has-text-justified" style="line-height: 4rem">
                                    我們知道如果要提供顧客便宜、品質又好的商品，
                                    HARRIS必須有效的管理成本及運用創新的製造方法，
                                    這也正是HARRIS從義大利佛倫羅斯（Firenze）百年起步至今，
                                    從未改變的信念，最有效的當季歐洲原味設計，
                                    尋找更經濟皮料配搭、更有效率及更有創意的製造及包裝方式，降低成本，回饋給大家!
                                </p>
                            </div>
                        </div>
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/FAC01.jpg); background-position: center; background-size: cover">
                        </div>
                    </div>
                </div>
        </div>
    </section>