<section class="section hero">
    <div class="hero-body has-text-centered is-family-sans-serif">
        <h1 class="is-size-1 is-size-2-mobile has-text-weight-medium">Crossbody</h1>
        <p class="is-size-5 is-size-6-mobile"></p>
    </div>
</section>
<section class="section">
        <div class="container has-text-centered">
            <ul class="container-fluid columns is-multiline" >
                <li *ngFor="let product of products" class="column is-3">
                    <img src="{{ product.fields.thumbnail.fields.file.url }}" [routerLink]="['/products', product.fields.slug]" alt="product image" class="image">
                    <p class="content is-size-5 is-size-6-touch is-family-sans-serif">{{ product.fields.productName }}</p>
                    <p class="content is-size-6 is-size-7-touch is-family-sans-serif">Price: {{ product.fields.price }} $</p>
                </li>
            </ul>
        </div>    
    </section>