<section class="section is-medium is-family-sans-serif">
        <div class="columns container">
            <div class="column is-4">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-6" routerLink="aboutus">品牌介紹</p>
                        <ul class="menu-list">
                            <li routerLink="../ourstories">品牌故事</li>
                            <li routerLink="../ouridea">經營理念</li>
                            <li routerLink="../eufashion">歐洲潮流</li>
                            <li routerLink="../fairprice">合理價格</li>
                        </ul>
                        <hr>
                        <li routerLink="../technique">精湛工藝</li>
                        <hr>  
                        <li routerLink="../future">未來願景</li>   
                    </ul>    
                </aside>
            </div>
            <div class="column is-7 is-family-sans-serif">
                    <div class="container">
                        <p class="has-text-weight-bold is-size-2">合理價格</p>
                    </div>
                    <div class="container">
                        <img src="../../../assets/img/about/FAC02.jpg" alt="">
                        <div class="container">
                            <div class="container has-background-black">
                                <p class="has-text-white">我們的努力</p>
                            </div>
                            <p>
                                提供價格便宜又品味高尚的當季商品是HARRIS理想與經營理念的核心，<br>
                                HARRIS所有的商品背後，有著同樣的基本價值：<br>
                                就是以每個人都買得起的價格去生產設計、實用的品味配搭。<br>
                                我們不斷努力把每件事做得更好、更簡單、更有效率，來達成這項挑戰。<br>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                            <div class="container">
                                <div class="container has-background-black">
                                    <p class="has-text-white">我們的獨特</p>
                                </div>
                                <p>
                                    創造精品歐風價格合理化皮具產品是HARRIS一開始設計商品的優先考量，<br>
                                    我們將這樣創新理念帶入皮具產業，獨有經營方式也是所謂的「Harris Way」。<br>
                                    我們有效的利用每一分原料，來設計並製造人人負擔得起的優質皮具產品，<br>
                                    滿足每個人對於時尚場合配搭的需求與喜好。<br>
                                        
                                </p>
                            </div>
                            <img src="../../../assets/img/about/HARRIS04.jpg" alt="">
                        </div>
                </div>
            </div>
        </section>
        