<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                    <app-about-menu></app-about-menu>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif">
                    <div class="container-fluid has-text-centered is-family-sans-serif" style="padding: 5rem">
                        <p class="has-text-weight-bold is-size-2">合理價格</p>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/FAC02.jpg); background-position: center; background-size: cover">
                        </div>
                        <div class="column is-7 container-12 is-paddingless">
                            <div class="container-12">
                                <div class="container-12 has-text-centered has-background-black">
                                    <p class="has-text-white is-size-4" style="padding: .5rem">
                                        我們的努力
                                    </p>
                                </div>
                                <div class="content_container column is-10">
                                    <p class="content is-size-5 has-text-justified" style="line-height: 4rem">
                                        提供價格便宜又品味高尚的當季商品是HARRIS理想與經營理念的核心，HARRIS所有的商品背後，有著同樣的基本價值：就是以每個人都買得起的價格去生產設計、實用的品味配搭。我們不斷努力把每件事做得更好、更簡單、更有效率，來達成這項挑戰。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-12 columns" style="margin-bottom: 5rem">
                        <div class="column is-7 container-fluid is-paddingless">
                            <div class="container-12 has-text-centered has-background-black">
                                <p class="has-text-white is-size-4" style="padding: .5rem">
                                    我們的獨特
                                </p>
                            </div>
                            <div class="content_container column is-10">
                                <p class="content is-size-5 has-text-justified" style="line-height: 4rem">
                                    創造精品歐風價格合理化皮具產品是HARRIS一開始設計商品的優先考量，我們將這樣創新理念帶入皮具產業，獨有經營方式也是所謂的「Harris Way」。我們有效的利用每一分原料，來設計並製造人人負擔得起的優質皮具產品，滿足每個人對於時尚場合配搭的需求與喜好。
                                </p>
                            </div>
                        </div>
                        <div class="column is-5 container-fluid imageContainer"
                        style="background: url(../../../assets/img/about/HARRIS04.jpg); background-position: center; background-size: cover">
                        </div>
                    </div>
                </div>
        </div>
    </section>