@font-face
  font-family: 'Noto Sans TC', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

$family-sans-serif: 'Noto Sans TC', sans-serif

.hero
    height: 80vh
    background: url("../../assets/img/page/Harris3107.jpg")
    background-size: cover
    background-position: top
    display: flex

.iamge
    display: inline-block
    clear: none

.product-grid 
  display: flex
  flex-wrap: wrap
  margin: -0.5em


.product-grid > * 
  flex: 1 0 5em
  margin: 0.5em

  min-width: 20em
  max-width: 37.5em


.product-card 
  height: 100%
  display: flex
  flex-direction: column

@import "~bulma/bulma.sass"