<section class="section hero">
    <div class="hero-body has-text-white is-family-sans-serif">
        <h1 class="is-size-1 has-text-weight-medium">當季風靡新款</h1>
        <p class="is-size-5">從經典到潮流，總有一款屬於妳</p>
    </div>
</section>
<section class="section">
    <div class="container-fluid has-text-centered">
        <div class="tile is-ancestor">
            <div class="tile is-parent" *ngFor="let product of products">
                <div class="tile is-child" [routerLink]="['/products', product.fields.slug]">
                    <img src="{{ product.fields.image[0].fields.file.url }}" alt="product image" class="image">
                    <p class="content is-size-4 is-family-sans-serif">{{ product.fields.productName }}</p>
                    <p class="content is-size-5 is-family-sans-serif">Price: {{ product.fields.price }} $</p>
                </div>
            </div>
        </div>
    </div>
</section>