<!--<section class="section is-paddingless">
    <video class="hero" playsinline autoplay muted loop width="100%" *ngIf="asset">
        <source src="{{'https:' + asset.fields.file.url}}" type="video/mp4" />
    </video>
</section>-->
<section class="section is-family-sans-serif" style="margin-bottom: 2rem;">
    <div class="container" style="margin-bottom: 2rem;">
        <h1 class="has-text-centered is-size-4-touch is-size-3-desktop">
            世界上每四張皮革有一張在義大利加工
        </h1>
        <p class="container has-text-centered is-size-6-touch " style="margin: 2rem auto 2rem auto; max-width: 60vw;">
            義大利人特別懂得聯合協作，義大利皮革產值占歐盟 62％，出口量占世界的  27.8％，早在古羅馬時代，人們就用皮革製做馬鞍、箭袋、鎧甲、鞋子和服飾。由於巨大的內部需求，古羅馬帝國開始從周邊國家甚至從遠東進口原皮與皮革。歷史的巧合讓這個牲畜養殖業並不非常發達的國家穩坐世界皮革產業的鐵王座。
        </p>
    </div> 
    <p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p>   
    <div class="columns is-centered has-text-centered">
        <div class="column is-4">
            <div class="image is-square" style="background-image: url('assets/img/leather/0910-01.png'); background-size: cover; background-position: center;">
            </div>
            <h2 class="is-size-5-touch container " style="margin-top: 2rem;">
                嚴格認證標章
            </h2>
            <p class="is-size-6-touch container " style="margin: 2rem;">
                物以稀為貴，每家製革廠拿到的牛皮都是喬好的，每年聯盟控制出產的皮革及標章在一定的輸出數量，所以每家品牌要拿到認證的皮革其實都要事先訂購，聯盟認證代表了高品質和環保安全的保證，在托斯卡尼的匠人心中，它同等於榮耀與尊貴。
            </p>
        </div>
        <div class="column is-4">
            <h2 class="is-hidden-touch" style="margin-top: 2rem;">
                植韖皮革到底是什麼
            </h2>
            <p class="is-hidden-touch" style="margin: 2rem;">
                這種皮革只含天然植物成分，不再含有如"鉻鞣皮革"含有的重金屬、苯、酚等有害成分。手感扎實、存在感強烈，其皮體透氣、吸濕性好，任何人或寵物著用時感覺會很舒適。
            </p>
            <div class="image is-square" style="background-image: url('assets/img/leather/0910-05.jpg'); background-size: cover; background-position: center;"></div>
            <h2 class="is-size-5-touch container is-hidden-desktop " style="margin-top: 2rem;">
                植韖皮革到底是什麼
            </h2>
            <p class="is-size-6-touch container is-hidden-desktop" style="margin: 2rem;">
                這種皮革只含天然植物成分，不再含有如"鉻鞣皮革"含有的重金屬、苯、酚等有害成分。手感扎實、存在感強烈，其皮體透氣、吸濕性好，任何人或寵物著用時感覺會很舒適。
            </p>
        </div>
        <div class="column is-4">
            <div class="image is-square" style="background-image: url('assets/img/leather/0910-02.jpg'); background-size: cover; background-position: center;"></div>
            <h2 class="is-size-5-touch container " style="margin-top: 2rem;">
                令人徹底敬佩的英雄聯盟
            </h2>
            <p class="is-size-6-touch container " style="margin: 2rem;">
                1994年1月1日“Pelle Conciata al Vegetale in Toscana”－ 義大利托斯卡尼植鞣皮革聯盟成立，為托斯卡尼數家製革廠組成專門認證純正義大利皮革的非營利組織，而聯盟認證的每一批皮料，都毫無偏差的依照標準製作。
            </p>
        </div>
    </div>
    <p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p> 
    <div>
        <div class="image is-16by9 is-paddingless has-text-white" style="background-image: url('assets/img/leather/0910-11.jpg'); background-size: cover; background-position: center;">
            <div style="background-color: rgba(91, 91, 91, .55);">
               <h2 class="has-text-centered is-size-5-touch is-size-4-desktop" style="padding-top: 4rem;">
                    耐心、緩慢、堅持、少量、精細、極致……
                </h2>
                <p class="container has-text-centered is-size-6-touch " style="padding-bottom: 4rem;">
                    說到工匠精神，腦海裡可能會浮現這樣一系列的詞，這些詞用來形容托斯卡尼匠人們一點也不浮誇。        
                </p> 
            </div>
            
        </div>
    </div>
</section>
<p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
<p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
<p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: 2rem;"></p>
<section class="section is-family-sans-serif" style="margin-bottom: 2rem;">
    <div class="container" style="margin-bottom: 2rem;">
        <h1 class="has-text-centered is-size-4-touch is-size-3-desktop">
            義大利能成為著名皮革產地的原因
        </h1>
    </div>
    <div class="columns is-centered has-text-centered">
        <div class="column is-5">
            <div class="image is-square" style="background-image: url('assets/img/leather/0910-04.jpg'); background-size: cover; background-position: center;">
            </div>
            <h2 class="is-size-5-touch container " style="margin-top: 2rem;">
                得天獨厚的氣候優勢
            </h2>
            <p class="is-size-6-touch container " style="margin: 2rem;">
                由於歐洲氣溫較低，牛羊等都在海拔較高的地方生活，因此蚊蚋、牛虻等叮咬牛羊的昆蟲少，這樣一來，牛羊身上就沒有疤痕，品質高。所以，義大利室內養殖牛的特點就是皮面自然傷殘和刺劃傷少，較乾淨。熱帶地區牛羊經常被叮得滿身疤痕，而且有皮膚病。
            </p>
        </div>
        <div class="column is-5">
            <h2 class="is-hidden-touch" style="margin-top: 2rem;">
                畜牧業發展水準高
            </h2>
            <p class="is-hidden-touch" style="margin: 2rem;">
                不同國家的畜牧業發展水準不等，而畜牧業的發展程度、育肥場、籬笆甚至飼料的品質都影響毛皮的品質。因此，由於義大利畜牧業發展程度較高，所產的牛皮品質會特別好。
            </p>
            <div class="image is-square" style="background-image: url('assets/img/leather/0910-08.jpg'); background-size: cover; background-position: center;"></div>
            <h2 class="is-size-5-touch container is-hidden-desktop " style="margin-top: 2rem;">
                畜牧業發展水準高
            </h2>
            <p class="is-size-6-touch container is-hidden-desktop" style="margin: 2rem;">
                不同國家的畜牧業發展水準不等，而畜牧業的發展程度、育肥場、籬笆甚至飼料的品質都影響毛皮的品質。因此，由於義大利畜牧業發展程度較高，所產的牛皮品質會特別好。
            </p>
        </div>
    </div>
    <div class="is-centered has-text-centered">
        <div class="image is-16by9 is-paddingless has-text-white" style="background-image: url('assets/img/leather/0910-09.jpg'); background-size: cover; background-position: center;">
            <div style="background-color: rgba(91, 91, 91, .55);">
                <h2 class="has-text-centered is-size-5-touch is-size-4-desktop" style="padding-top: 4rem;">
                    加工工藝好
                </h2>
                <p class="container has-text-centered is-size-6-touch " style="padding-bottom: 4rem; max-width: 50vw;">
                    首先是在原材料的處理上，相較國內大多採用化學處理，而歐洲大部分的屠宰工廠都沒有醃漬設備，所以屠宰後的幾小時內，所有的鮮皮都得用冰塊冷藏，快速運往毛皮加工廠。由於運輸迅速，通常在屠房和加工廠之間不需要化學材料保存。
                    <br>其次，在皮毛的加工過程中，歐洲部分的毛皮在醃漬之前都保存在冷庫，醃漬後都在室內堆存，以避免水和熱量造成的損害。他們都是手工撒鹽醃漬或者用撒鹽機器。這種方式相比鼓醃和鹽水池浸漬，毛皮極少機械動作，意味著粒面損傷越少，藍濕革和成品革的等級越高。    
                </p>
            </div>
        </div>     
    </div>
</section>