<section class="section" *ngIf="product">
    <app-carousel class="carousel">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  
    </app-carousel>
  <div class="columns is-multiline">
    <div class="column is-two-thirds level" *ngIf="product.fields.image">
      <div class="level-item isDesktop" *ngFor="let image of product.fields.image">
        <div>
          <img class="image" src="{{ image.fields.file.url }}">
          <p class="content is-family-sans-serif">{{ product.fields.image[0].fields.description }}</p>
        </div>
      </div>            
    </div>
    <div class="column is-one-third">
        <div class="description">
            <div style="line-height: 2rem">
              <p class="content is-size-4-desktop is-size-5-touch is-family-sans-serif">
                {{ product.fields.productName }}
              </p>            
              <hr>
              <p class="is-family-sans-serif">{{ product.fields.productDescription }}</p>
              <p class="is-family-sans-serif">{{ product.fields.size }}<br>{{ product.fields.color }}<br><strong>Price: {{ product.fields.price }} $</strong></p>
              <!--<p>SKU: {{ product.fields.sku || 'SKU not available' }}</p>!-->              
            </div>
            <button class="button is-black" style="margin-top: 2rem" (click)="addToCart(product)">加入購物車</button>
        </div>
    </div>
  </div>
</section>

