<!--<p *ngIf="product">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{ product.fields.productName }}</mat-card-title>
        <mat-card-subtitle>{{ product.fields.sizetypecolor }} | <strong>Price: {{ product.fields.price }} $</strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab *ngIf="product.fields.image" label="Image">
            <div *ngFor="let image of product.fields.image; trackBy: image?.type">
              <div class="tab-container">
                <img class="u-marginAutoHorizontal" src="{{ image.fields.file.url }}">
                <p>{{ product.fields.image[0].fields.description }}</p>
              </div>
            </div>            
          </mat-tab>            
          <mat-tab label="Description">
            <div class="tab-container">
              <p>{{ product.fields.productDescription }}</p>
              <p>SKU: {{ product.fields.sku || 'SKU not available' }}</p>
            </div>
          </mat-tab>
          <mat-tab *ngIf="product.fields.brand" label="Brand">
            <div class="tab-container">
              <div class="brand-panel">
                <div class="brand-panel-img">
                  <img src="{{ product.fields.brand.fields.logo.fields.file.url }}">
                </div>
                <div>
                  <h3>{{ product.fields.brand.fields.companyName }}</h3>
                  <p>{{ product.fields.brand.fields.companyDescription }}</p>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </p>-->

<section class="section" *ngIf="product">
    <app-carousel class="carousel"></app-carousel>
  <div class="columns is-multiline">
    <div class="column is-two-thirds level" *ngIf="product.fields.image">
      <div class="level-item isDesktop" *ngFor="let image of product.fields.image">
        <div>
          <img class="image" src="{{ image.fields.file.url }}">
          <p>{{ product.fields.image[0].fields.description }}</p>
        </div>
      </div>            
    </div>
    <div class="column is-one-third">
        <div class="description">
            <div>
              <p class="content is-size-4-desktop is-size-5-touch is-family-sans-serif">
                {{ product.fields.productName }}
              </p>            
              <hr>
              <p>{{ product.fields.productDescription }}</p>
              <h2>{{ product.fields.size }}<br>{{ product.fields.color }}<br><strong>Price: {{ product.fields.price }} $</strong></h2>
              <p>SKU: {{ product.fields.sku || 'SKU not available' }}</p>
            </div>
        </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
