<section class="section is-medium is-family-sans-serif">
    <div class="columns container-fluid">
        <div class="column is-2 has-text-centered">
                <app-about-menu></app-about-menu>
        </div>
        <div class="column is-10 container-fluid is-family-sans-serif ">
            <section class="section container-fluid has-text-centered is-family-sans-serif">
                <p class="has-text-weight-bold is-size-2">植鞣皮革聯盟</p>
            </section>
            <section class="section is-marginless is-paddingless is-family-sans-serif coffee is-block " 
                        style="background-color: #2e1100;
                            min-height: 60vh;
                            margin-top: 5rem;
                            margin-bottom: 5rem; 
                            ">
                <div class="container-12 columns is-paddingless is-marginless" style="max-height: 30vh">
                    <div class="column is-8 is-centered">
                        <div style="padding: 3rem;">
                            <p class=" has-text-white is-size-1-tablet is-size-4-mobile has-text-weight-bold" 
                            >
                                義大利托斯卡尼植鞣皮革聯盟
                            </p>
                            <p class=" has-text-white is-size-2-tablet is-size-6-mobile has-text-weight-bold">
                                Pelle Conciata al Vegetale in Toscana
                            </p>
                        </div>
                        
                        <div class="columns">
                            <div class="column is-4 upimg is-block"
                                style="background: url(../../../assets/img/about/league/0910-03.jpg);
                                        background-size: cover;
                                        background-position: top;
                                        background-repeat: no-repeat;">
                            </div>
                            <div class="column is-4 upimg is-block"
                                style="background: url(../../../assets/img/about/league/0910-04.jpg);
                                        background-size: cover;
                                        background-position: top;
                                        background-repeat: no-repeat;">
                            </div>
                            <div class="column is-4 upimg is-block"
                                style="background: url(../../../assets/img/about/league/0910-02.jpg);
                                        background-size: cover;
                                        background-position: top;
                                        background-repeat: no-repeat;">
                            </div>
                        </div>
                    </div>
                    <div class="column is-3 palm"
                        style="background: url(../../../assets/img/about/league/0910-01.png);
                                background-size: contain;
                                background-position: top;
                                background-repeat: no-repeat;
                                min-height: 20vh">
                    </div>
                </div>
            </section>
            <section class="section is-block is-paddingless" style="margin-top: 5rem; margin-bottom: 5rem">
                <div class="columns is-vcentered is-marginless">
                    <div class="column is-5" 
                        style="background: url(../../../assets/img/about/league/0910-05.jpg); 
                                background-position: center; 
                                background-size: cover;
                                min-height: 40vh
                                ">
                    </div>
                    <div class="column is-7 is-paddingless" style="min-height: 40vh">
                        <div class="container-12 has-text-centered has-background-black has-text-white">
                            <p class="has-text-weight-bold is-size-4" style="padding: .5rem">
                                世界上每四張皮革有一張在義大利加工
                            </p>
                        </div>
                        <div class="content_container">
                            <p class="content is-size-5 has-text-justified" style="line-height: 3rem">
                                義大利人特別懂得聯合協作，義大利皮革產值占歐盟 62％，
                                出口量占世界的  27.8％，早在古羅馬時代，
                                人們就用皮革製做馬鞍、箭袋、鎧甲、鞋子和服飾。
                                由於巨大的內部需求，古羅馬帝國開始從周邊國家甚至從遠東進口原皮與皮革。
                                歷史的巧合讓這個牲畜養殖業並不非常發達的國家穩坐世界皮革產業的鐵王座。
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section is-block is-paddingless">
                <div class="columns is-vcentered is-marginless is-paddingless" 
                style="min-height: 50vh;">
                    <div class="column is-5" 
                    style="background: url(../../../assets/img/about/league/0910-06.jpg); 
                            background-position: top; 
                            background-size: cover;
                            min-height: 70vh
                            ">
                    </div>
                    <div class="column is-7 container-fluid" 
                    style="min-height: 70vh;">
                        <div class="cloumns is-paddingless is-marginless is-multiline">
                            <div class="column is-12">
                                <div class="columns"style="background-color: #582101;"
                                            >
                                    <div class="column is-6 is-paddingless is-marginless" 
                                        style="background-image: url(../../../assets/img/about/league/0910-07.jpg);
                                                background-position: center;
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                height: 20vh"></div>
                                        <p class="column is-5 has-text-weight-bold is-size-1 is-block has-text-centered" style="padding: .5rem; color: #e7d1a2">
                                            Made In Italy
                                        </p>
                                </div>                        
                            </div>
                            <div class="content_container2">
                                <p class="content is-size-5 has-text-justified" style="line-height: 3rem">
                                    物以稀為貴，每家製革廠拿到的牛皮都是喬好的，
                                    每年聯盟控制出產的皮革及標章在一定的輸出數量，
                                    所以每家品牌要拿到認證的皮革其實都要事先訂購，
                                    聯盟認證代表了高品質和環保安全的保證，在托斯卡尼的匠人心中，
                                    它同等於榮耀與尊貴。
                                </p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </section>
            
            
        </div>
    </div>
</section>
    