<div style="max-width: 100vw">
<div class="hero">
    <div class="container has-text-centered">
        <h1 class="content top-header is-size-2 is-family-sans-serif">
            Leopard Head<br>口蓋包
        </h1>
        <p class="content is-size-6 is-family-sans-serif">
            真羊皮革打造，手感細緻宛若絲絨。
        </p>
    </div>
</div>
<section class="section0"></section>
<section class="section1"></section>
<section>
    <div class="container-fluid has-text-centered container1">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            打造專屬金鍊條
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            巧奪天工，車縫細緻可見<br>經典菱格，氣質非凡。
        </p>
    </div>
    <div>
        <img src="assets/img/page/DSC_4136.jpg" alt="leopard_head_back" class="image image1">
    </div>
</section>
<section>
    <div class="container-fluid has-text-centered container2">
        <p class="content is-size-2-desktop is-size-4-touch is-family-sans-serif has-text-weight-bold">
            "Leopard Head" 鎖頭
        </p>
        <p class="content is-size-6 is-size-7-touch is-family-sans-serif has-background-white">
            立體豹頭鎖，展現光芒時刻<br>新希望的燃燒。
        </p>
    </div>
    <div>
            <img src="assets/img/page/_DSC4495-02S.jpg" alt="leopard_head_side" class="image image2">
    </div>
</section>
</div>

