<div class="hero">
    <div class="container has-text-centered">
        <p class="content is-size-2 is-family-sans-serif">
            LEOPARD HEAD 口蓋包
        </p>
        <p class="content is-size-6 is-family-sans-serif">
            真羊皮革打造，手感細緻宛若絲絨。
        </p>
    </div>
</div>
<section class="section0"></section>
<section class="section1"></section>
<section>
    <div class="container-fluid has-text-centered container1">
        <p class="content is-size-3 is-family-sans-serif has-text-weight-medium has-background-white">
            打造專屬金鍊條
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            巧奪天工，車縫細緻可見<br>經典菱格，氣質非凡。
        </p>
    </div>
    <div>
        <img src="assets/img/page/DSC_4136.jpg" alt="leopard_head_back" class="image image1">
    </div>
</section>
<section>
    <div class="container-fluid has-text-centered container2">
        <p class="content is-size-3 is-family-sans-serif has-text-weight-medium has-background-white">
            "LEOPARD HEAD" 鎖頭
        </p>
        <p class="content is-size-6 is-family-sans-serif has-background-white">
            立體豹頭鎖，展現光芒時刻新希望的燃燒。
        </p>
    </div>
    <div>
            <img src="assets/img/page/_DSC4495-02S.jpg" alt="leopard_head_side" class="image image2">
    </div>
</section>