<section class="section is-medium is-family-sans-serif">
        <div class="columns container-fluid">
            <div class="column is-2 has-text-centered">
                    <app-about-menu></app-about-menu>
            </div>
            <div class="column is-10 container-fluid is-family-sans-serif ">
                <section class="section container-fluid has-text-centered is-family-sans-serif">
                    <p class="has-text-weight-bold is-size-2">植鞣皮革介紹</p>
                </section>
                <section class="section is-marginless is-paddingless is-family-sans-serif coffee is-block " 
                            style="background-color: #2e1100;
                                min-height: 50vh;
                                margin-top: 5rem;
                                margin-bottom: 5rem; 
                                ">
                    <div class="container-12 columns is-paddingless is-marginless" style="max-height: 30vh">
                        <div class="column is-6 is-centered has-text-centered">
                            <p class=" has-text-white is-size-1-tablet is-size-3-mobile">
                            植鞣皮革到底是什麼？
                            </p>
                            <div class="is-block upimg"
                                style="background: url(../../../assets/img/about/intro/0910-12.jpg);
                                        background-size: cover;
                                        background-position: top;
                                        background-repeat: no-repeat;">
                            </div>
                        </div>
                        <div class="column is-6">
                            <div  class="palm"
                                style="background: url(../../../assets/img/about/league/0910-01.png);
                                        background-size: contain;
                                        background-position: right;
                                        background-repeat: no-repeat;
                                        min-height: 20vh">
                            </div>
                            <p class=" has-text-white is-size-5-tablet is-size-7-mobile is-block">
                                托斯卡尼的植鞣皮革天然環保無有害物質，只含天然植物成分，不再含有如"鉻鞣皮革"含有的重金屬、苯、酚等有害成分。
                                每種顏色都有一種超越時間的自然細緻，古樸典雅，光澤柔和通透，隨著使用，
                                其亮度會更加柔和透亮。手感扎實、存在感強烈，其皮體透氣、吸濕性好，
                                任何人或寵物著用時感覺會很舒適。
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section is-block is-paddingless" style="margin-top: 5rem; margin-bottom: 5rem">
                    <div class="columns is-vcentered is-marginless">
                        <div class="column is-6 is-paddingless" >
                            <div style="background: url(../../../assets/img/about/intro/0910-10.jpg); 
                                    background-position: center; 
                                    background-size: cover;
                                    min-height: 40vh
                                    ">
                            </div>
                            <div class="has-text-centered has-text-white is-size-3-tablet" style="background-color: black; min-height: 20vh;">
                                <p style="padding-top: 10%">令人徹底敬佩的英雄聯盟</p>
                            </div>
                        </div>
                        
                        <div class="column is-6 is-paddingless" style="min-height: 60vh">
                            <div class="container-12 has-text-centered has-background-black has-text-white">
                                <p class="has-text-weight-bold is-size-4" style="padding-bottom: .5rem">
                                    義大利植鞣革聯盟在托斯卡尼成立，<br>
                                    嚴格保障和監督在此生產的植鞣皮革。
                                </p>
                            </div>
                            <div class="container" style="padding: 1vh">
                                <p class="content is-size-5 has-text-justified" style="line-height: 3rem">
                                    耐心、緩慢、堅持、少量、精細、極致……說到工匠精神，
                                    腦海裡可能會浮現這樣一系列的詞，這些詞用來形容托斯卡尼匠人們一點也不浮誇。
                                    1994年1月1日“Pelle Conciata al Vegetale in Toscana”－ 
                                    義大利托斯卡尼植鞣皮革聯盟成立，為托斯卡尼數家製革廠組成專門認證純正義大利皮革的非營利組織，
                                    並以協助認證在傳統工法下產的高品質植物鞣皮革為使命。
                                    而聯盟認證的每一批皮料，都毫無偏差的依照標準製作。
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section is-block is-paddingless">
                    <div style="background: url(../../../assets/img/about/intro/0910-11.jpg); 
                                background-position: top; 
                                background-size: cover;
                                height:20vh;
                                ">
                    </div>
                </section>
            </div>
        </div>
    </section>
        