<div class="first">
    <p class="container line" style="width: 30vw;height: .1rem; background-color: goldenrod; margin-top: 2rem; margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 40vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
    <p class="container line" style="width: 25vw;height: .1rem; background-color: goldenrod;margin-bottom: .5rem;"></p>
  <video class="hero" preload="metadata" playsinline autoplay muted loop width="100%" *ngIf="asset" style="position: fixed; z-index: -1">
    <source src="{{'https:' + asset.fields.file.url}}" type="video/mp4" />
  </video>
  <div>
    <p class="title has-text-centered is-size-4-tablet is-size-6-mobile is-family-sans-serif has-text-white has-text-weight-semibold">
      ENTER THE NEW ERA OF FASHION
    </p>
  </div>
</div>

<section class="columns container-fluid is-marginless">
  <div class="column is-5">
    <div style="height: 30vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat"></div>
    <div style="margin: -2rem 0 0 1rem; padding : 3rem 0 0 .5rem; display: block; border-left: .1rem solid goldenrod">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>
  </div>
  <div class="column is-5" style="align-items: right">
    <div class="has-text-right" style="margin: 0 1rem -2rem 0; padding : 0 .5rem 3rem 0; display: block; border-right: .1rem solid goldenrod; z-index: 1">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>    
  <div style="height: 40vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat; z-index: -3"></div>   
    </div>
</section>

<section class="section" style="background-color: white">
  <div class="container-fluid" style="height: 70vh;background-image: url(../assets/img/page/Harris3120.jpg);background-size: cover;background-repeat: no-repeat;background-position: bottom">
  </div>
</section>

<section class="columns container-fluid is-marginless">
  <div class="column is-5">
    <div style="height: 30vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat"></div>
    <div style="margin: -2rem 0 0 1rem; padding : 3rem 0 0 .5rem; display: block; border-left: .1rem solid goldenrod">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>
  </div>
  <div class="column is-5" style="align-items: right">
    <div class="has-text-right" style="margin: 0 1rem -2rem 0; padding : 0 .5rem 3rem 0; display: block; border-right: .1rem solid goldenrod; z-index: 1">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>    
  <div style="height: 30vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat; z-index: -3"></div>   
    </div>
</section>

<section class="section" style="background-color: white">
  <div class="container-fluid" style="height: 70vh;background-image: url(../assets/img/page/MH2115.jpg);background-size: cover;background-repeat: no-repeat;background-position: bottom">
  </div>
</section>

<section class="columns container-fluid is-marginless">
  <div class="column is-5">
    <div style="height: 30vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat"></div>
    <div style="margin: -2rem 0 0 1rem; padding : 3rem 0 0 .5rem; display: block; border-left: .1rem solid goldenrod">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>
  </div>
  <div class="column is-5" style="align-items: right">
    <div class="has-text-right" style="margin: 0 1rem -2rem 0; padding : 0 .5rem 3rem 0; display: block; border-right: .1rem solid goldenrod; z-index: 1">
      <p>The beauty of being a mother, and the wonder of being a child: a shared vision of style, appearance, elegance and comfort come together in the new SR Junior collection.</p>
    </div>    
  <div style="height: 30vh;background-image: url(../assets/img/page/harris3115.jpg);background-size: cover;background-repeat: no-repeat; z-index: -3"></div>   
    </div>
</section>

<section class="section" style="background-color: white">
  <div class="container-fluid" style="height: 70vh;background-image: url(../assets/img/page/polo2117.jpg);background-size: cover;background-repeat: no-repeat;background-position: bottom">
  </div>
</section>

