
section  
    justify-content: center
    align-items: center

.section1
    background: url("../../assets/img/page/Harris3120.jpg")
    background-size: cover
    background-position: center
    display: flex
.section2
    background: url("../../assets/img/page/MH2115.jpg")
    background-size: cover
    background-position: bottom
    display: flex
.section3
    background: url("../../assets/img/page/polo2117.jpg")
    background-size: cover
    background-position: center
    display: flex

@import "~bulma/bulma.sass"

+touch
    section
        height: 20vh
    .title
        padding-top: 10vh

+desktop
    section
        height: 50vh
    .title
        padding-top: 40vh
