
section
    margin: 5vh
    justify-content: center
    align-items: center
    background-color: white

@import "~bulma/bulma.sass"

+touch
    .first
        height: 20vh
    .title
        padding-top: 10vh

+desktop
    section
        height: 50vh
    .title
        padding-top: 30vh
        padding-bottom: 30vh

+widescreen
    section
