
section
    justify-content: center
    align-items: center
    background-color: white

@import "~bulma/bulma.sass"

+touch
    .first
        height: 20vh
    .title
        padding-top: 10vh
    .line
        display: none

+desktop
    section
        height: 70vh
    .title
        padding-top: 30vh
        padding-bottom: 25vh

+widescreen
    section
