<section>
  <video class="hero" preload="metadata" playsinline autoplay muted loop width="100%" *ngIf="asset" style="position: fixed; z-index: -1">
  <source src="{{'https:' + asset.fields.file.url}}" type="video/mp4" />
</video>
  <div>
   <p class="title has-text-centered is-size-4-tablet is-size-6-mobile is-family-sans-serif has-text-white has-text-weight-semibold">
    ENTER THE NEW ERA OF FASHION
  </p>
</div>
  
</section>




<section class="section1">
  <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
</section>
<section class="section2">
    <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
  </section>
  <section class="section3">
      <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
    </section>

