
<div class="has-background-black">
    <video class="hero container" autoplay muted loop *ngIf="asset">
      <source src="{{'https:' + asset.fields.file.url}}" type="video/mp4" />
    </video> 
</div>
<section class="section1">
  <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
</section>
<section class="section2">
    <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
  </section>
  <section class="section3">
      <h2 class="has-text-white is-size-2 has-text-weight-bold has-background-dark"></h2>
    </section>

