<section class="section is-medium is-family-sans-serif">
        <div class="columns container">
            <div class="column is-4">
                <aside class="menu">
                    <ul class="menu-list">
                        <hr>
                        <p class="menu-label is-size-6" routerLink="aboutus">品牌介紹</p>
                        <ul class="menu-list">
                            <li routerLink="../ourstories">品牌故事</li>
                            <li routerLink="../ouridea">經營理念</li>
                            <li routerLink="../eufashion">歐洲潮流</li>
                            <li routerLink="../fairprice">合理價格</li>
                        </ul>
                        <hr>
                        <li routerLink="../technique">精湛工藝</li>
                        <hr>  
                        <li routerLink="../future">未來願景</li>  
                    </ul>    
                </aside>
            </div>
            <div class="column is-7 is-family-sans-serif">
                    <div class="container">
                        <p class="has-text-weight-bold is-size-2">經營理念</p>
                    </div>
                    <div class="container">
                        <img src="../../../assets/img/about/HARRIS 1930ad.jpg" alt="">
                        <div class="container">
                            <div class="container has-background-black">
                                <p class="has-text-white">我們的起點</p>
                            </div>
                            <p>
                                在HARRIS裡，客戶可以找到多樣當季歐洲潮流皮具又能相互搭配的合用皮具組合套裝，<br>
                                無論你喜貴族奢侈、現代簡約，都能在HARRIS找到，讓客戶更具個人特色和魅力。<br>
                                無論客戶追求風格條件，我們的設計師與產品開發人員必定讓<br>
                                每項HARRIS皮具都符合您日常使用的需求，並且減少不必要的浪費。<br>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                            <img src="../../../assets/img/about/MH04.jpg" alt="">
                            <img src="../../../assets/img/about/_DSC4512.jpg" alt="">
                            <img src="../../../assets/img/about/HARRIS02.jpg" alt="">
                        </div>
                </div>
            </div>
        </section>
        